@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
*{
    background-color: #C68883;
    margin: 0.0875px;
    box-sizing: border-box; /* Añadir esto para manejar el padding y el border */
}
.ContenedorE{
    font-family: "Sue Ellen Francisco", cursive;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    align-items: center;
}
.ContenedorE p{
    font-size: 1.3rem;
}
.ContenedorE h2{
    font-size: 1.8rem;
}
.ContenedorE h3{
    font-size: 1.6rem;
    font-weight: 1000;
}

/*PrimerPanel*/
.PrimerPanelE{
    display: flex;
    grid-area: 1/1/2/5;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#img1Sono{
    max-width: 100%;
    max-height: 100%;
}
.img23Sono{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    align-content: center;
}
.img23Sono img{
    margin: 5px;
    max-width: 100%;
}

/*Segundo Panel*/
.SegundoPanelE{
    display: flex;
    grid-area: 2/1/3/5;
    flex-direction: column;
}