<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Consejos</title>
            <link rel="stylesheet" href="/CSS/styleCon.css">
            <link rel="stylesheet" href="/CSS/MenuH.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">  
        </head>
        <body>
            <div class="Contenedor4">
                <nav class="navE">
                    <div class="Encabezado4">
                        <div class="Logo">  
                            <img src="/Img/imagen1.png" alt="logo1" width="100px" height="100px">   
                        </div>
                        <div class="Titulo">                        
                            <h2 id="LoudVoice">LoudVoice</h2>
                            
                        </div>
                        <div class="Contacto" id="CH">
                            <button class="BtnCM" id="CerrarM"><i class="bi bi-x-lg"></i></button>
                            <div class="logos">
                                <button  id="BtnFace"><i class="bi bi-facebook"></i></button>
                                <img class="tooltip-img" id="imgS1" src="/Img/ImgSeg.png">
                            </div>
                                <div class="logos"><button id="BtnTwit"><i class="bi bi-twitter"></i></button></div>
                                <div class="logos"><button id="BtnInsta"><i class="bi bi-instagram"></i></button></div>
                                <div class="logos">
                                    <button  id="BtnSpot"><i class="bi bi-spotify"></i></button>
                                    <img class="tooltip-img2" id="imgS4" src="/Img/ImgSpot.png">
                                </div>
                        </div>
                        <div class="Inicio-Busqueda">
                            <div class="IB" id="imgInicioSesion"><img src="/Img/usuario.png" alt="logo1" width="55px" height="55px"></div>
                        </div>
                        <div class="PExpand">
                            <button class="BtnAM" id="AbrirM"><i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </nav>
                <div class="PrimerPanel4">
                    <p id="Frase14">Los consejos pueden desempeñar un papel crucial en el apoyo a 
                        las víctimas de acoso y violencia de género, ayudándolas a 
                        superar estas difíciles situaciones. Estos consejos no solo 
                        ofrecen orientación práctica, sino también apoyo emocional, 
                        validación y una perspectiva externa que puede ser fundamental
                         para la recuperación y empoderamiento de las víctimas.</p>
                    <img id="img14" src="/Img/consejosimg.jpg">
                </div>
                <div class="SegundoPanel4"> 
                    <fieldset>
                        <legend>Importancia de los consejos</legend>
                            <div class="ContenedorC">
                                <div class="AE" id="AEDiv">
                                    <button id="BtnAE">Apoyo emocional</button>
                                    <p class="Texto24">Los consejos pueden proporcionar un oído atento y comprensivo.
                                        Escuchar a la víctima sin juzgarla y validar sus sentimientos puede ayudarla a
                                        sentirse menos sola y más comprendida.</p>
                                </div>
                                <div class="OP" id="OPDiv">
                                    <button id="BtnOP">Orientacion practica</button>
                                    <p class="Texto24">Consejos sobre cómo buscar ayuda profesional, como terapia 
                                        psicológica, asesoramiento legal o refugios seguros, pueden 
                                        ser cruciales. Orientar sobre los recursos disponibles y los
                                         pasos a seguir puede empoderar a la víctima para tomar 
                                         acciones positivas.</p>
                                </div>
                                <div class="RA" id="RADiv">
                                    <button id="BtnRA">Refuerzo de la autoestima</button> 
                                    <p class="Texto24">La violencia de género y el acoso pueden deteriorar 
                                        la autoestima de las víctimas. Consejos que refuercen su valor
                                         y capacidad de recuperación pueden ayudar a restaurar su 
                                         confianza en sí mismas.</p>
                                </div>
                                <div class="PS" id="PSDiv">
                                    <button id="BtnPS">Planificación de la seguridad</button>
                                    <p class="Texto24">Ayudar a la víctima a desarrollar un plan de seguridad 
                                        personalizado es vital. Esto puede incluir consejos sobre cómo
                                         salir de una situación peligrosa, a quién contactar en caso 
                                         de emergencia y cómo proteger su información personal.</p>
                                </div>
                            </div>
                    </fieldset>
                    <fieldset id="TC">
                        <legend>Tipos de consejos</legend>
                            <div class="ContenedorC">
                                <div class="CE" id="CEDiv">
                                    <button id="BtnCE">Consejos emocionales</button>
                                    <p class="Texto24"> Estos consejos se centran en validar y apoyar 
                                        emocionalmente a la víctima. Frases como "No es tu culpa" o "Tus 
                                        sentimientos son válidos" son ejemplos de cómo se puede proporcionar 
                                        este tipo de apoyo.</p>
                                </div>
                                <div class="CP" id="CPDiv">
                                    <button id="BtnCP">Consejos practicos</button>
                                    <p class="Texto24">Incluyen información sobre recursos disponibles, como 
                                        líneas de ayuda, servicios legales, refugios, y terapia. También 
                                        puede incluir estrategias para manejar el estrés y el trauma.</p>
                                </div>
                                <div class="CS" id="CSDiv">
                                    <button id="BtnCS">Consejos de seguridad</button>
                                    <p class="Texto24">Involucran la creación de planes de seguridad específicos,
                                         asesoramiento sobre cómo mantener la seguridad en línea, y la 
                                         importancia de mantener a salvo documentos importantes y contactos 
                                         de emergencia.</p>
                                </div>
                                <div class="CdE" id="CdEDiv">
                                    <button id="BtnCdE">Consejos de empoderamiento</button>
                                    <p class="Texto24">Ayudan a la víctima a reconocer su fuerza y capacidad para
                                         superar la situación. Pueden incluir sugerencias para establecer metas 
                                         personales y profesionales, y fomentar la participación en actividades 
                                         que fortalezcan su autoestima y habilidades.</p>
                                </div>
                            </div>
                    </fieldset>   
                </div>
                <div class="TercerPanel4">
                    <h2>¿Cómo dar un consejo?</h2>
                    <ol>
                        <li>
                            <p><b>Escucha activa: </b>Presta atención plena a lo que la víctima está 
                                diciendo. Evita interrumpir y muestra empatía. Hacer 
                                preguntas abiertas puede ayudar a la víctima a expresarse
                                 más libremente.</p>
                        </li>
                        <li>
                            <p><b>No juzgar: </b>Es esencial no culpar a la víctima ni minimizar su experiencia.
                                 Asegúrate de que la víctima se sienta segura al compartir su historia sin 
                                 temor a ser juzgada.</p>
                        </li>
                        <li>
                            <p><b>Valida sus sentimientos: </b>Reconoce y valida los sentimientos de la víctima.
                                 Frases como "Es normal sentirte así después de lo que has pasado" pueden 
                                 ser muy reconfortantes.</p>
                        </li>
                        <li>
                            <p><b>Proporciona info. Útil: </b>Ofrece recursos y contactos que puedan 
                                proporcionar ayuda profesional. Asegúrate de que la información sea clara 
                                y accesible.

                            </p>
                        </li>
                        <li>
                            <p><b>Respeta su autonómia: </b> Permite que la víctima tome sus propias decisiones sobre 
                                los próximos pasos. No la presiones para que actúe de una manera específica;
                                 su capacidad de tomar decisiones es fundamental para su recuperación.</p>
                        </li>
                        <li>
                            <p><b>Ofrece apoyo continuo: </b>Hazle saber a la víctima que estás ahí para ella a largo plazo. 
                                El apoyo continuo puede ser crucial para su proceso de recuperación.</p>
                        </li>
                    </ol>
                </div>
                <div class="PieDePagina">
                    <div class="Fi">
                        <p>Enlaces útiles:</p>
                        <div class="EnlacesUtiles">
                            <a href="#">Términos y Condiciones</a> | 
                            <a href="#">Política de Privacidad</a> | 
                            <a href="#">Contacto</a> | 
                            <a href="#">Reportar un problema</a>
                        </div>
                        <p>Recuerda... <strong>No estás sol@</strong></p>
                        <p>&copy; 2024 LOUDVOICE - Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/JS/MenuHa.js"></script>
            <script src="/JS/Consejos.js"></script>
            <script src="/JS/RedesS.js"></script>
            <script src="/JS/MsjDesplegables.js"></script>
            <script src="/JS/InicioS.js"></script>
        </body>
    </html>