<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/CSS/MenuH.css">
        <link rel="stylesheet" href="/CSS/stylesPrincipal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>LoudVoice</title>
        
    </head>
    <body>
        <div class="Contenedor">
            <nav class="navE">
                <div class="Encabezado">
                    <div class="Logo">  
                        <img src="/Img/imagen1.png" alt="logo1" width="100px" height="100px">   
                    </div>
                    <div class="Titulo">                        
                        <h2 id="LoudVoice">LoudVoice</h2>
                        
                    </div>
                    <div class="Contacto" id="CH">
                        <button class="BtnCM" id="CerrarM"><i class="bi bi-x-lg"></i></button>
                        <div class="logos">
                            <button  id="BtnFace"><i class="bi bi-facebook"></i></button>
                            <img class="tooltip-img" id="imgS1" src="/Img/ImgSeg.png">
                        </div>
                            <div class="logos"><button id="BtnTwit"><i class="bi bi-twitter"></i></button></div>
                            <div class="logos"><button id="BtnInsta"><i class="bi bi-instagram"></i></button></div>
                        <div class="logos">
                            <button  id="BtnSpot"><i class="bi bi-spotify"></i></button>
                            <img class="tooltip-img2" id="imgS4" src="/Img/ImgSpot.png">
                        </div>
                    </div>
                    <div class="Inicio-Busqueda">
                        <div class="IB" id="imgInicioSesion"><img src="/Img/usuario.png" alt="logo1" width="55px" height="55px"></div>
                        
                    </div>
                    <div class="PExpand">
                        <button class="BtnAM" id="AbrirM"><i class="bi bi-list"></i></button>
                    </div>
                </div>
            </nav>
            <div class="PrimerPanel">
                <div class="Eslogan1">
                    <p id="Esl1">En el corazón de cada tormenta, existe un lugar de calma y seguridad. 
                        Aquí, encontrarás recursos, apoyo y una comunidad que entiende tu lucha. 
                        Juntos, podemos transformar el miedo en fortaleza, 
                        el silencio en voz y la opresión en libertad.</p>
                    <button class="Boton Efecto1" id="StarTest">Empezar test</button> 
                </div>
                <div class="Img1">
                    <img src="/Img/imagen2.png">
                </div>
            </div>
            <div class="SegundoPanel">
                <div class="Imagen345">
                    <img src="/Img/img345.png">
                </div>
                <div class="Eslogan2">
                    <h2>¿Sientes que tu situación te sobrepasa?</h2>
                    <p>Intenta lo siguiente:</p>
                    <ol>
                        <li>Concéntrate en tu respiración.</li>
                        <li>Inhala por la nariz y exhala por la boca.</li>
                        <li>Coloca las manos sobre el vientre.</li>
                        <li>Observa cómo tus manos se mueven hacia arriba y hacia abajo mientras respiras.</li>
                    </ol>
                </div>

            </div>
            <div class="TercerPanel">
                <p class="P">Recuerda que  </p>
                <p class="P" id="G1"> nada </p>
                <p class="P"> de lo que paso fue </p>
                <p class="P" id="G2"> tu culpa.</p>
            </div>
            <div class="CuartoPanel">
                <p id="G3">La lucha de cada persona frente al acoso y la violencia de género es diferente. 
                    Por lo tanto, cada sentimiento que presentas tiene una razón de ser.</p>  
            </div>
            <div class="QuintoPanel">
                <div class="Eslogan3">
                    <p id="Esl3">Las estadísticas hablan y la situacion que se vive día con día no es favorable
                        para ninguna persona, sin embargo estamos aquí para ayudar a todo el que lo
                        necesite. </p>
                </div>
                <div class="imagen6">
                    <img src="/Img/imagen6.png" alt="Imagen 6">
                </div>
            </div>
            <div class="SextoPanel">
                <fieldset class="ContenedorF">
                    <legend >¿Cómo esperamos ayudarte?</legend>
                    <p>Conocer a qué es lo que te estás enfrentando nos da pauta para saber cómo ayudarte, 
                        es por eso que te exhortamos a realizar los test de nuestra aplicación y a registrarte, 
                        así tendrás acceso a:</p>
                    <div class="Servicios">
                        <button class="BotonesS" id="BtnG3">Sonoterapia</button>
                        <button class="BotonesS" id="BtnG4">Estadísticas</button>
                        <button class="BotonesS" id="BtnG5">Consejos</button>
                        <button class="BotonesS" id="BtnG1">Testimonios de otras víctimas</button>
                    </div>
                </fieldset>
            </div>
            <div class="SeptimoPanel">
                <p class="P7" id="Titulo7">¿Necesitas más información de por qué te sientes así?</p>
                <p class="P7">Los seres humanos creemos que tendremos una respuesta específica
                     a ciertas situaciones, sin embargo, en el momento, 
                     nuestra respuesta es completamente inesperada.</p>
                     <div class="Cajas7">
                        <div class="Caja1">
                            <img class="Cimg" src="/Img/Imagen7.jpg" alt="Imagen 6">
                            <p >Respuestas al miedo</p>
                            <a class="L7" href="https://psicologiaymente.com/psicologia/bases-fisiologicas-psicologicas-miedo" 
                                target="_blank">Conoce más</a>
                        </div>
                        <div class="Caja2">
                            <img class="Cimg" src="/Img/imagen8.jpg" alt="Imagen 7">
                            <p>Como enfrentar sentimientos dificiles</p>
                            <a class="L7" href="https://lamenteesmaravillosa.com/pasos-lidiar-emociones-dificiles/" 
                                target="_blank">Conoce más</a>
                        </div>
                        <div class="Caja3" class="Caja3">
                            <img class="Cimg" src="/Img/imagen9.jpg" alt="Imagen 8">
                            <p>Ansiedad y depresión</p>
                            <a class="L7" href="https://psicologiaymente.com/clinica/como-se-relacionan-ansiedad-depresion" 
                                target="_blank">Conoce más</a>
                        </div>
                        <div class="Caja4" class="Caja4">
                            <img class="Cimg" src="/Img/imagen10.png" alt="Imagen 9">
                            <p>¿Qué hago?</p>
                            <a class="L7" href="https://better2you.com/que-hago-con-mi-vida-7-pensamientos" 
                                target="_blank">Conoce más</a>
                        </div>
                     </div>  
            </div>
            <div class="PieDePagina">
                <div class="Fi">
                    <p>Enlaces útiles:</p>
                    <div class="EnlacesUtiles">
                        <a href="#">Términos y Condiciones</a> | 
                        <a href="#">Política de Privacidad</a> | 
                        <a href="#">Contacto</a> | 
                        <a href="#">Reportar un problema</a>
                    </div>
                    <p>Recuerda... <strong>No estás sol@</strong></p>
                    <p>&copy; 2024 LOUDVOICE - Todos los derechos reservados</p>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/JS/MsjPrincipal.js"></script>
        <script src="/JS/MenuHa.js"></script>
        <script src="/JS/RedesS.js"></script>
        <script src="/JS/MsjDesplegables.js"></script>
        <script src="/JS/InicioS.js"></script>
        <script src="/JS/TestR.js"></script>
    </body>
</html>
 