<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Menu Principal</title>
            <link rel="stylesheet" href="/CSS/MenuPrincipal.css">
        </head>
        <body>
            <div class="ContenedorP">
                <div class="EncabezadoP">
                    <div class="Logo">  
                        <img src="/Img/imagen1.png" alt="logo1" width="130px" height="130px">   
                    </div>
                    <div class="TituloB">
                        <h1>¿Qué haremos hoy?</h1> 
                    </div>
                    <div class="BtnCS">
                        <button id="logoutButton">Cerrar Sesión</button>
                    </div>
                </div>
                <div class="PanelPrincipal">
                    <a class="btn-neon" id="BtnTestimonios">
                        <span id="span1"></span>
                        <span id="span2"></span>
                        <span id="span3"></span>
                        <span id="span4"></span>
                        TESTIMONIOS
                    </a>
                    <img src="/Img/MsjTestm.png" class="ImgMsj1" width="130px" height="130px">
                    <a class="btn-neon2" id="BtnInformacion">
                        <span id="span5"></span>
                        <span id="span6"></span>
                        <span id="span7"></span>
                        <span id="span8"></span>
                        INFORMACIÓN
                    </a>
                    <img src="/Img/MsjInform.png" class="ImgMsj2" width="160px" height="130px">
                    <a class="btn-neon3" id="BtnExpediente">
                        <span id="span9"></span>
                        <span id="span10"></span>
                        <span id="span11"></span>
                        <span id="span12"></span>
                        EXPEDIENTE
                    </a>
                    <img src="/Img/MsjExped.png" class="ImgMsj3" width="160px" height="130px">
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/JS/MenuP.js"></script>
            <script src="/JS/CerrarS.js"></script>
        </body>
    </html>