<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <title>LOUDVOICE ¿Qué es?</title>
        <link rel="stylesheet" href="/CSS/Paginainicio.css">
        <link rel="stylesheet" href="/CSS/MenuH3.css">
    </head>
    <body>
        <div class="Contenedor">
            <nav class="navE">
                <div class="Encabezado">
                    <img class="imgEnca" src="/Img/encabezado1.png" alt="logo1" width="200px" height="100px">
                    <h2 class="Titulo1">LOUDVOICE ... ¡Siempre contigo!</h2>
                    <div class="Contacto" id="CH">
                        <button class="BtnCM" id="CerrarM"><i class="bi bi-x-lg"></i></button>
                        <button onclick="location.href='#mision'">Misión</button>
                        <button onclick="location.href='#vision'">Visión</button>
                        <button onclick="location.href='#objetivos'">Objetivos</button>
                        <button onclick="location.href='#valores'">Valores</button>
                    </div>
                    <div class="PExpand">
                        <button class="BtnAM" id="AbrirM"><i class="bi bi-list"></i></button>
                    </div>
                </div>
            </nav>
            <div class="PrimerPanel">
                <div class="Img1">
                    <img src="/Img/imagen1.png">
                </div>
                <div class="Eslogan1">
                    <h3>¿Quienes somos?</h3>
                    <p>En LOUDVOICE, somos una comunidad comprometida con brindar apoyo y empoderamiento a personas que han 
                        sufrido acoso y violencia de género. Creemos en la importancia de dar voz a las experiencias de las víctimas, 
                        ofreciendo un espacio seguro donde puedan compartir sus testimonios, aprender de otros y encontrar los recursos 
                        necesarios para sanar y reconstruir sus vidas. Nuestra plataforma está diseñada para proporcionar un acceso sencillo 
                        a herramientas de apoyo, información y acompañamiento en momentos difíciles.</p>
                    <br>
                    <p>Ve a nuestra página principal: <button class="Boton Efecto1" id="BtnEnrutar">Home</button></p>
                </div>
            </div>
            <div class="SegundoPanel">
                <div class="Mision" id="mision">
                    <div id="Info1">
                        <h3>Misión</h3>
                        <p>Nuestra misión es ofrecer un espacio virtual seguro y solidario donde las víctimas de acoso y violencia de género
                             puedan recibir el apoyo necesario para su recuperación. A través de testimonios reales, recursos educativos y 
                             herramientas interactivas, buscamos crear conciencia, romper el silencio y fomentar la prevención de estas 
                             situaciones, ayudando a las personas afectadas a recuperar su autoestima y autonomía.</p>
                    </div>
                    <div id="Img2">
                        <img src="/Img/ImgMis.png">   
                    </div>
                </div>
                <div class="Vision" id="vision">
                    <div id="Img3">
                        <img src="/Img/ImgVis.png">
                    </div>
                    <div id="Info2">
                        <h3>Visión</h3>
                        <p>Aspiramos a convertirnos en una plataforma de referencia global en la lucha contra el acoso y la violencia de 
                            género, donde cada voz sea escuchada y respetada. Queremos ser un puente hacia la sanación y el empoderamiento, 
                            facilitando un cambio social en el que todos vivan en entornos libres de violencia y discriminación.</p>
                    </div>

                </div>
                <div class="Objetivos" id="objetivos">
                    <div id="Info3">
                        <h3>Objetivos</h3>
                        <ol type="1">
                            <li><b>Apoyo emocional y psicológico: </b>Proporcionar un entorno seguro y comprensivo donde las víctimas puedan 
                                compartir sus experiencias y encontrar apoyo de manera confidencial.</li>
                            <li><b>Conciencia y educación:</b> Ofrecer información y recursos para educar a la sociedad sobre el acoso y la violencia 
                                de género, promoviendo el respeto y la igualdad.</li>
                            <li><b>Empoderamiento:</b>Facilitar herramientas que ayuden a las personas a reconocer su valor, fortalecer su autoestima 
                                y recuperarse emocionalmente.</li>
                            <li><b>Prevención:</b>Difundir conocimientos y recursos prácticos para prevenir situaciones de acoso y violencia, 
                                fomentando relaciones sanas y equitativas.</li>
                        </ol>
                    </div>
                    <div id="Img4">
                        <img src="/Img/ImgObj.png">
                    </div>
                </div>
                <div class="Valores" id="valores">
                    <div id="Img5">
                        <img src="/Img/ImgVal.png">
                    </div>
                     <div id="Info4">
                        <h3>Valores</h3>
                        <p>En LOUDVOICE nos guiamos por los siguientes valores fundamentales:</p>
                        <ol type="i">
                            <li><b>Empatía: </b>Creemos en la importancia de ponernos en el lugar de quienes han sufrido, brindando un entorno 
                                seguro, comprensivo y libre de juicio.</li>
                            <li><b>Respeto: </b>Valoramos la dignidad de cada persona y nos comprometemos a respetar la privacidad y el 
                                consentimiento en todo momento.</li>
                            <li><b>Confidencialidad:</b> Nos aseguramos de que cada testimonio y cada dato compartido en nuestra plataforma se
                                maneje con el más alto nivel de seguridad y privacidad.</li>
                            <li><b>Solidaridad: </b>Fomentamos una comunidad de apoyo mutuo, donde cada voz es escuchada y cada historia es 
                                respetada, creando un espacio de ayuda colectiva.</li>
                            <li><b>Igualdad:</b> Nos esforzamos por promover la equidad y el respeto hacia todas las personas, independientemente 
                                de su género, orientación sexual, origen o situación socioeconómica.</li>
                            <li><b>Compromiso: </b>Estamos comprometidos con la lucha contra la violencia de género, dedicándonos a ofrecer los
                                mejores recursos y apoyo a quienes más lo necesitan.</li>
                        </ol>
                     </div>
                </div>
            </div>
            <div class="TercerPanel">
                <div class="EquipoT">
                    <div id="InfoT">
                        <h3>Nuestro equipo de trabajo</h3>
                        <p>Contamos con un equipo multidisciplinario comprometido con nuestra misión y valores. En LOUDVOICES, colaboran 
                            expertos en psicología, trabajadores sociales, educadores y especialistas en tecnología, quienes trabajan 
                            juntos para desarrollar y mantener una plataforma accesible, intuitiva y segura. Además, nuestro equipo de 
                            soporte está capacitado para brindar atención oportuna y comprensiva a todas las personas que nos contactan, 
                            asegurando que reciban la ayuda que necesitan.</p>
                    </div>
                </div>
            </div>
            <div class="PieDePagina">
                <div class="Fi">
                    <p>Enlaces útiles:</p>
                    <div class="EnlacesUtiles">
                        <a href="#">Términos y Condiciones</a> | 
                        <a href="#">Política de Privacidad</a> | 
                        <a href="#">Contacto</a> | 
                        <a href="#">Reportar un problema</a>
                    </div>
                    <p>Recuerda... <strong>No estás sol@</strong></p>
                    <p>&copy; 2024 LOUDVOICE - Todos los derechos reservados</p>
                </div>
            </div>
        </div>
        <script src="/JS/Enrutamiento.js"></script>
        <script src="/JS/MenuH3.js"></script>
    </body>
</html>
