<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>SONOTERAPIA</title>
            <link rel="stylesheet" href="/CSS/stylesSono.css">
            <link rel="stylesheet" href="/CSS/MenuH.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        </head>
        <body>
            <div class="Contenedor3">
                <nav>
                    <div class="Encabezado3">
                        <div class="Logo">  
                            <img src="/Img/imagen1.png" alt="logo1" width="100px" height="100px">    
                        </div>
                        <div class="Titulo">                        
                            <h2 id="LoudVoice">LoudVoice</h2>
                            
                        </div>
                        <div class="Contacto" id="CH">
                            <button class="BtnCM" id="CerrarM"><i class="bi bi-x-lg"></i></button>
                            <div class="logos">
                                <button  id="BtnFace"><i class="bi bi-facebook"></i></button>
                                <img class="tooltip-img" id="imgS1" src="/Img/ImgSeg.png">
                            </div>
                                <div class="logos"><button id="BtnTwit"><i class="bi bi-twitter"></i></button></div>
                                <div class="logos"><button id="BtnInsta"><i class="bi bi-instagram"></i></button></div>
                                <div class="logos">
                                    <button  id="BtnSpot"><i class="bi bi-spotify"></i></button>
                                    <img class="tooltip-img2" id="imgS4" src="/Img/ImgSpot.png">
                                </div>
                        </div>
                        <div class="Inicio-Busqueda">
                            <div class="IB" id="imgInicioSesion"><img src="/Img/usuario.png" alt="logo1" width="55px" height="55px"></div>
                        </div>
                        <div class="PExpand">
                            <button class="BtnAM" id="AbrirM"><i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </nav>
                <div class="PrimerPanel3">
                    <div class="Eslogan31">
                        <p id="Esl13" >"Sintonizando la sanación, una nota a la vez”</p>
                        <p id="Esl23">La sonoterapía puede ayudar a eliminar bloqueos energeticos
                             y facilitar el proceso de sanación del cuerpo y la mente.</p>
                    </div>
                    <div class="Imagen31">
                        <img id="Sono1" src="/Img/sono1.png">
                    </div>   
                </div>
                <div class="SegundoPanel3">
                    <h2 class="Info31" id="Titulo32">¿Que es?</h2>
                    <p class="Info31">La sonoterapía es una disciplina que utiliza la voz e instrumentos musicales
                        para generar vibraciones que inciden de forma beneficiosa en nuestro organismo.</p>
                    <p class="Info31">Dichas vibraciones restauran y corrigen la frecuencia de resonancia de nuestras
                        partes enfermas.</p>
                    <div class="Infor32">
                        <img src="/Img/consiSono3.png" id="img32" onclick="mostrar();"></img>
                        <div id="VoI">
                            <p>Aunque hay evidencia de sus beneficios, 
                                se recomienda utilizar la sonoterapia como un 
                                complemento a tratamientos, 
                                no como un sustituto.</p>
                        </div>          
                    </div>
                </div>
                <div class="TercerPanel3">
                    <div class="Imagen33">
                        <img src="/Img/Sono32.jpg" id="sono3"> 
                    </div>
                    <div class="Info33">
                        <h2 id="Titulo33">¿Cuales son sus beneficios?</h2>
                        <ol>
                            <li>Mejora del sueño y reducción del insomnio.</li>
                            <li>Disminución de la ansiedad y el estrés.</li>
                            <li>Alivio de dolores de cabeza y migrañas.</li>
                            <li>Mejora de la concentración y la claridad mental.</li>
                            <li>Fomento de la liberación emocional y el equilibrio energético.</li>
                        </ol>
                    </div>
                </div>
                <div class="CuartoPanel3">
                    <div class="Caja13">
                        <h2>¿Cómo se emplea en la terapía psícologica</h2>
                        <p>Se utiliza para promover el bienestar emocional 
                        y mental de los pacientes.</p>
                    </div>
                    <div class="Caja23">
                        <div class="Caja33">
                            <h3 id="CT31">Tecnicas utilizadas</h3>
                            <ol type="A" id="CL31">
                                <li><b>Frecuencias Específicas:</b> Se utilizan sonidos de distintas 
                                    frecuencias para afectar positivamente el estado 
                                    emocional y mental.</li>
                                <li><b>Instrumentos Vibratorios:</b> Como cuencos tibetanos, diapasones y 
                                    gongs que producen vibraciones que pueden tener 
                                    efectos terapéuticos.</li>
                            </ol>
                        </div>
                        <div class="Caja43">
                            <h3 id="CT32">Aplicación en terapia</h3>
                            <ol type="A" id="CL32">
                                <li><b>Sesiones Guiadas:</b> Un terapeuta puede guiar a los pacientes 
                                    a través de sesiones de sonoterapia, utilizando sonidos para 
                                    facilitar la relajación y la introspección.</li>
                                <li><b>Autogestión:</b> Los pacientes pueden aprender a utilizar técnicas
                                     de sonoterapia por su cuenta para manejar el estrés y 
                                     las emociones.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="PieDePagina">
                    <div class="Fi">
                        <p>Enlaces útiles:</p>
                        <div class="EnlacesUtiles">
                            <a href="#">Términos y Condiciones</a> | 
                            <a href="#">Política de Privacidad</a> | 
                            <a href="#">Contacto</a> | 
                            <a href="#">Reportar un problema</a>
                        </div>
                        <p>Recuerda... <strong>No estás sol@</strong></p>
                        <p>&copy; 2024 LOUDVOICE - Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/JS/MenuHa.js"></script>
            <script src="/JS/Sono.js"></script>
            <script src="/JS/RedesS.js"></script>
            <script src="/JS/MsjDesplegables.js"></script>
            <script src="/JS/InicioS.js"></script>
        </body>
    </html>