@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


*{
    margin: 0.0875px;
    box-sizing: border-box; /* Añadir esto para manejar el padding y el border */
}

/*Contenedor principal*/
.Contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    align-items: center;
    background-color: rgb(243, 211, 200);
    min-width: 270px;
}
/*Todo el encabezado*/
.Encabezado{
    z-index: 1;
    background-color: rgb(194, 101, 212);
    align-items: center;
    min-width: 200px;
    grid-area: 1/1/2/5;
    width: 100%;
    position: fixed;
    opacity: 0.89;
    display: flex;
    flex-direction: row;
    opacity: 100%;
}
.Logo{
    justify-content: center;
    flex-grow: 0.05;
}
.Titulo{
    justify-content:flex-start;
    flex-grow: 0.65; 
}
#LoudVoice{
    font-size: 35px;
    font-family: "Indie Flower", cursive;
    color:black;  
}
.Contacto{
    display: flex;
    justify-content:center;
    flex-grow: 0.15;
}
.logos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 70px;
}
.logos button{
    background-color: rgb(194, 101, 212);
    border: none;
    height: 40px;
    cursor: pointer;
    scale: 2;
}
.PExpand{
    display: flex;
    flex-direction: wrap;
    flex-grow: 0.1;
}
.logos:hover{
    transition: 0.3s;
    transform: scale(0.71);
}
.Inicio-Busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: 0.2;
}
.IB{
    justify-content: center;
    flex-grow: 0.3;
}
#imgInicioSesion{
    cursor: pointer;
}
#imgInicioSesion:active{
    transition: 0.3s;
    transform: scale(0.6);
}
@media screen and (max-width: 700px) {
    .TituloB{
        flex-wrap: wrap;
        flex-grow: 0.6;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    .TituloB{
        flex-wrap: wrap;
        flex-grow: 0.6;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px){
    .Titulo{
        flex-grow: 0.25; 
    }
    #LoudVoice{
        scale: 0.85;
    }
}
@media screen and (max-width: 500px){
    .Titulo{
        flex-grow: 0; 
    }
    #LoudVoice{
        scale: 0.70;
        word-break: break-all;
    }
    .Logo{
        flex-wrap: 0;
    }
}
@media screen and (max-width: 400px) {
    .TituloB{
        flex-wrap: wrap;
        font-size: 0.9rem;
        flex-grow: 0.2;
    }
    .PExpand{
        padding-right: 40px;
    }
}
/*Primer panel*/
.PrimerPanel{
    grid-area: 2/1/3/5;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(232, 209, 243);
    font-size: 15px;
    padding: 50px;
}
.Eslogan1{
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-content: center;
    padding-top: 100px;
    font-size: 27px;
    font-family: kalam, cursive;
    font-style: normal;
    align-content: center;
    color:black; 
}
.Eslogan1 button{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background-image: linear-gradient(
        150deg,
        #AF7AC5 ,
        #00DDFF,
        #D35400

    );
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    font-weight: bolder;
}
.Eslogan1 button:hover{
    background-image: linear-gradient(
        50deg,
        #D35400,
        #AF7AC5 ,
        #00DDFF
    );
    color: whitesmoke;
    cursor: pointer;
}
.Eslogan1 button:active{
    transition: 0.3s;
    transform: scale(0.6);
}
.Img1{
    display: flex;
    margin: 5%;
}
.PrimerPanel div img{
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    margin: 15px;
}
@media screen and (max-width: 700px){
    .PrimerPanel{
        flex-wrap: wrap;
    }
    .Eslogan1{
        max-width: 100%;
    }
}

/*Segundo panel*/
.SegundoPanel{
    grid-area: 3/1/4/5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    font-size: 15px;
}
.Imagen345{
    display: flex;
    max-width: 50%;
}
.Imagen345 img{
    max-width: 100%;
    max-height: 100%; 
    padding: 50px;
}
.Eslogan2{
    display: flex;
    flex-direction: column;
    font-family: "Shadows Into Light", cursive;
    max-width: 50%;
    padding: 50px;
}
.Eslogan2 h2{
    font-size: 28px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.Eslogan2 p{
    padding-top: 10px;
    font-size: 19px;
}
.Eslogan2 ol li{
    padding-top: 10px;
    font-size: 16px;
}
@media screen and (max-width: 700px){
    .SegundoPanel{
        flex-wrap: wrap;
    }
    .Eslogan2{
        max-width: 100%;
    }
    .Imagen345{
        display: flex;
        max-width: 100%;
    }
}
/*Tercer panel (Solo frase)*/
.TercerPanel{
    grid-area: 4/1/5/5;
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content:space-between;
    justify-content: center;
    font-family: cursive;

}

.P{
    display: flex;

    margin: 2px;
}
#G1{
    font-size: 25px;
}
#G2{
    font-size: 25px;
}

/*Cuarto panel (Solo frase)*/
.CuartoPanel{
    grid-area: 5/1/6/5;
    display: flex;
    justify-content: center;
    font-family: "Indie Flower", cursive;
    font-style: oblique;
    background-color: rgb(192, 102, 251);
    color:white;
    font-size: 30px;
    text-align: center;
    height: 100%;
}
#G3{
    display: flex;
    max-width: 630px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content:center;
    align-items: center;
}
@media screen and (max-width: 700px){
    #G3{
        margin: 50px;
    }
}

/*Quinto panel*/
.QuintoPanel{
    grid-area: 6/1/7/5;
    display: flex;
    flex-wrap: nowrap;
}
.Eslogan3{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 10px;
}
#Esl3{
    font-size: 27px;
    font-family: "Indie Flower", cursive;
    color:black; 
}
.Eslogan3 button{
    width: 200px;
    height: 40px;
    background-image: linear-gradient(
        50deg,
        #AF7AC5 ,
        #00DDFF,
        #D35400

    );
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    font-weight: bolder;
    margin-top: 30px;
}
.Eslogan3 button:hover{
    background-color: rgb(94, 137, 230);
    color: whitesmoke;
    cursor: pointer;
    background-image: linear-gradient(
        50deg,
        #D35400,
        #AF7AC5 ,
        #00DDFF
    );
}
.Eslogan3 button:active{
    transition: 0.3s;
    transform: scale(0.6);
}
.imagen6{
    display: flex;
    max-width: 50%;
}
.imagen6 img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 700px){
    .QuintoPanel{
        flex-wrap: wrap;
    }
    .Eslogan3{
        max-width: 100%;
    }
    .imagen6{
        max-width: 100%;
        margin: 30px;
    }
}

/*Sexto panel*/
.SextoPanel{
    grid-area: 7/1/8/5;
    display: flex;
    flex-direction: row;
    font-family: "Indie Flower", cursive;
    background-color: rgb(186, 160, 234);
}
.ContenedorF{
    width: 100%;
    border: 3px solid black;
}
.ContenedorF legend{
    font-size: 1.3rem;
    font-weight: 800;
}
.ContenedorF p{
    font-size: 1.25rem;
}
.SextoPanel fieldset legend{
    font-size: 1.5rem;
}
.Servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.BotonesS{
    font-family: "Caveat", cursive;
    font-size: 1.3rem;
    width: 100%;
    max-width: 200px;
    height: 50px;
    border-radius: 19px;
    text-align: center;
    margin: 20px;

}
#BtnG1{
    width: 100%;
    max-width: 300px;
    align-content: flex-end;
}
.BotonesS::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue,
        red, blue, deeppink, blue 
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
.BotonesS:hover{
    background-color: rgb(94, 137, 230);
    color: whitesmoke;
    cursor: pointer;
}
.BotonesS:active{
    transition: 0.3s;
    transform: scale(1.3);
}

/*Septimo panel*/
.SeptimoPanel{
    grid-area: 8/1/9/5;
    display: flex;    
    flex-direction: column;
    padding-top: 20px;
    font-family: "Caveat", cursive;
    padding-left: 20px;
    padding-right: 20px;
}
.P7{
   padding-bottom: 15px;
   font-size: 1.2rem;
}
#Titulo7{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.Cajas7{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}
.Cajas7 div p{
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
}
.Caja1{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px;
    border-style: solid;
    border-color: white;
    border-width: 30px;
    border-radius: 15px;
}
.Caja2{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px;
    border-style: solid;
    border-color: white;
    border-width: 30px;
    border-radius: 15px;
}
.Caja3{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px;
    border-style: solid;
    border-color: white;
    border-width: 30px;
    border-radius: 15px;
}
.Caja4{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px;
    border-style: solid;
    border-color: white;
    border-width: 30px;
    border-radius: 15px;
}
.Cimg{
    width: 200px;
    height: 200px;
}
.L7{
    text-decoration: none;
    color: black;
    margin: 25px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    background-color: rgb(228, 99, 53);
    border-radius: 5px;
    border-width: 3px;
}
.L7:hover{
    background-color: rgb(94, 137, 230);
    color: whitesmoke;
    border-color: black;
    cursor: pointer;
}

/*Pie de Pagina*/
.PieDePagina{
    grid-area: 9/1/10/5;
    display: flex;
    background-color: blueviolet;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
}
.PieDePagina .imgP img {
    margin-bottom: 15px;
}
.Fi p {
    margin: 5px 0;
    color: #333;
    font-size: 1.3rem;
    font-style: oblique;
    font-weight: 700;
}
.EnlacesUtiles a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
}
.EnlacesUtiles a:hover {
    text-decoration: underline;
}
.PieDePagina p {
    margin: 10px 0;
    font-size: 14px;
}
.PieDePagina strong {
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
}

@media screen and (max-width: 500px){
    .imgP{
        max-width: 50%;
        max-height: 80%;
    }
    .imgP img{
        width: 100%;
        height:100%;
    }
    #LoudVoice{
        scale: 0.85;
    }
}

/*Decoracion adicional*/
#BtnMsj1:hover{
    color: black;
    cursor: pointer;
}

@keyframes glowing  {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    0% {
        background-position: 0 0;
    }
}

.tooltip-img {
    display: none;
    position: absolute;
    top: 30px; /* Ajusta según sea necesario */
    left: 100px; /* Ajusta según sea necesario */
    transform: translateX(-50%);
    z-index: 3;
    padding: 10px; /* Espaciado opcional */
}
#imgS1{
    width: 200px;
    height: 200px;
}
.logos button {
    z-index: 1; /* Asegura que los botones estén debajo de la imagen */
    position: relative; /* Necesario para que el z-index funcione correctamente */
}
.logos{
    z-index: 1;
}
@media (max-width: 800px){
    .tooltip-img {
        display: none;
    }
    .tooltip-img2 {
        display: none;
    }
}
.tooltip-img2 {
    display: none;
    position: absolute;
    top: 25px; /* Ajusta según sea necesario */
    left: 110px; /* Ajusta según sea necesario */
    transform: translateX(-50%);
    z-index: 3;
    padding: 10px; /* Espaciado opcional */
}
#imgS4{
    width: 250px;
    height: 250px;
}

/*Empezar test*/
#StarTest{
    width: 230px;
    height: 30px;
    font-family: cursive;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.Boton{
    background-image: linear-gradient(
        50deg,
        #D35400,
        #AF7AC5 ,
        #00DDFF
    );
    text-decoration: none;
    color: black
}
.Efecto1{
    display: inline-block;
    transform: perspective(1px) translate(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
}
.Efecto1::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131313;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.Efecto1:hover{
    color: white;
}
.Efecto1:hover:before{
    transform: scaleX(1);
    transition-timing-function: 
    cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.swal2-input-column {
    display: flex;
    flex-direction: column-reverse;
}

.password-container {
    position: relative;
}
/* Estilo para el ícono dentro del contenedor del input */
.password-container input[type="password"] {
    padding-right: 40px; /* Ajusta el padding para que el texto no se superponga con el ícono */
}
.password-container .fa-eye, 
.password-container .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333; /* Cambia el color según el diseño */
}


@media screen and (max-width: 450px) {
    .Fi p {
        margin: 4px 0;
        color: #333;
        font-size: 1.15rem;
    }
    .EnlacesUtiles a {
        margin: 0 8px;
        font-size: 1rem;
    }
    .PieDePagina p {
        margin: 8px 0;
        font-size: 14px;
    }
    .PieDePagina strong {
        font-weight: bold;
        color: white;
        font-size: 0.9rem;
    }
}