<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Aguascalientes.css">
        </head>
        <body>
            <div class="ContenedorA">
                <div class="PrimerPanelA">
                    <h2>Aguascalientes</h2>
                    <p>Aguascalientes ocupó la tercera posición en cuanto al mayor porcentaje de violencia total contra las mujeres 
                        en los últimos12 meses (durante el periodo de octubre de 2020 a octubre de 2021 con el 48.0%).</p>
                    <p>Otro ámbito de violencia contra la mujer con un elevado porcentaje en la entidad fue la prevalencia de violencia
                         a lo largo de la vida en el ámbito escolar, que asciende a 35.2%, 5.8 puntos porcentuales por encima de lo 
                         registrado en 2016 (29.4 %), lo que representó un cambio estadísticamente significativo.</p>
                    <p> La ENDIREH 2021 estima que, en el estado de Aguascalientes, 72.8% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 48% en los últimos 12 meses.</p>
                </div>
                <div class="SegundoPanelA">
                    <h3>Ambito Laboral</h3>
                    <p> La ENDIREH 2021 estima que, en el estado de Aguascalientes, 31.2% de la población de mujeres de 15 años y
                        más ha vivido situaciones de violencia en el trabajo a lo largo de la vida. Mientras que 26.1% vivió este tipo
                        de violencia en los últimos 12 meses</p>
                </div>
            </div>
        </body>
    </html>