<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/BajaCaliforniaSur.css">
        </head>
        <body>
            <div class="ContenedorBCS">
                <div class="PrimerPanelBCS">
                    <h2>Baja California Sur</h2>
                    <ol>
                        <h3>Datos Generales</h3>
                        <li>De las 283 466 mujeres de 15 años y más que hay en el estado, 55.4% (156 973 mujeres) 
                            ha enfrentado violencia de cualquier tipo y de cualquier agresor, alguna vez en su vida. </li>
                        <li>El 36.2% ha enfrentado agresiones del esposo o pareja actual o la última, a lo largo de su 
                            relación y está más acentuado entre las mujeres que se casaron o unieron antes de los 18 
                            años (41.8%), que entre quienes lo hicieron a los 25 años o más (31.3 por ciento). </li>
                        <li>En 2017 se registraron 66 defunciones de mujeres por homicidio, el número más alto en los 
                            últimos 29 años (1990-2018), lo que en promedio significa que fallecieron seis mujeres por 
                            agresiones cada mes. En 2018, ocurrieron 23 asesinatos de mujeres. </li>
                    </ol>
                    <h3>Violencia de Género</h3>
                        <p>Los resultados de la ENDIREH permiten determinar la prevalencia de la violencia entre las mujeres de 
                            15 años y más. A partir de esta información es posible afirmar que la violencia contra las mujeres es 
                            un problema de gran dimensión y una práctica social ampliamente extendida en la entidad; 55 de cada 
                            100 mujeres de 15 años y más, residentes en Baja California Sur, han experimentado al menos un 
                            acto de violencia de cualquier tipo, ya sea violencia emocional, física, sexual, económica, patrimonial 
                            o discriminación laboral, misma que ha sido ejercida por diferentes agresores, sea la pareja, el esposo o novio, 
                            algún familiar, compañero de escuela o del trabajo, alguna autoridad escolar o laboral o bien 
                            por amigos, vecinos o personas conocidas o extrañas. Es decir, 156 973 mujeres han sido sujetas a 
                            actos violentos y discriminatorios alguna vez, a lo largo de su vida. <br>
                            La violencia total de cualquier agresor (55.4%) se refiere a la proporción de todas las mujeres de 15 
                            años y más, que hayan declarado al menos un acto de violencia de pareja, de cualquier otro agresor 
                            distinto a la pareja, discriminación en el trabajo en el último año y discriminación por embarazo en los 
                            últimos 5 años.  <br>
                            La violencia de pareja considera a todas las mujeres de 15 años y más que tienen o hayan tenido al 
                            menos una pareja a lo largo de su vida. </p>
                        <h3>Discriminación</h3>
                            <p>La discriminación en el trabajo por razones de embarazo considera a las mujeres de 15 años y más 
                                que hayan trabajado en el periodo de octubre de 2011 a octubre de 2016 y la discriminación en el 
                                trabajo incluye a todas las mujeres de 15 años y más que trabajaron como asalariadas (empleadas, 
                                obreras o jornaleras) durante los 12 meses anteriores a la encuesta. <br>
                                Asimismo, 97 069 mujeres (34.2%) señalaron que al menos una agresión de tipo emocional, sexual, 
                                físico o económico ocurrió en los 12 meses anteriores a la entrevista, es decir, entre octubre de 2015 
                                y octubre de 2016. Así, 44 724 mujeres fueron sometidas a algún tipo de intimidación, hostigamiento, 
                                acoso o abuso sexual, que van desde señalamientos obscenos, que las hayan seguido en la calle para 
                                intimidarlas sexualmente, hecho propuestas de tipo sexual, o bien, que directamente las hayan 
                                manoseado sin su consentimiento o hasta violado.</p>
                </div>

            </div>
        </body>
    </html>
     

