<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/BajaCalifornia.css">
        </head>
        <body>
            <div class="ContenedorBC">
                <div class="PrimerPanelBC">
                    <h2>Baja California</h2>
                    <p>La ENDIREH 2021 estima que, en el estado de Baja California, 69.2% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 37.2% en los últimos 12 meses.</p>
                        <br>
                    <h3>Violenciade género</h3>
                    <p>La ENDIREH 2021 estima que, en el estado de Baja California, el ámbito comunitario es en el que las
                        mujeres de 15 años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida
                        (44.7%).</p>
                    <h3>Ambito Escolar</h3>
                    <p>La ENDIREH 2021 estima que, en el estado de Baja California, 28.6% de la población de mujeres de 15 años y
                        más, ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 13% vivió
                        este tipo de violencia en los últimos 12 meses.</p>
                    <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Baja California, de las mujeres de 15
                        años y más que experimentaron violencia en el ámbito escolar, 47.5% señaló que la principal persona
                        agresora fue un compañero de la escuela.</p>
                    <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Baja California, de las mujeres de 15
                        años y más que experimentaron violencia en el ámbito escolar, 65.2% declaró que la escuela fue el lugar
                        principal de ocurrencia de violencia.</p>
                    <h3>Ambito Laboral</h3>
                    <p> La ENDIREH 2021 estima que, en el estado de Baja California, 34.4% de la población de mujeres de 15 años y
                        más ha vivido situaciones de violencia en el trabajo a lo largo de la vida. Mientras que 21.6% vivió este tipo
                        de violencia en los últimos 12 meses.</p>
                    <p>De acuerdo con la
                        ENDIREH 2021 se estima que, en el estado de Baja California, 29.6% de la población de mujeres de 15 años y más ha vivido
                        situaciones de discriminación laboral a lo largo de la vida laboral. Mientras que 22.4% ha experimentado discriminación 
                        laboral en los últimos 12 meses.</p>
                    <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Baja California, de las mujeres de 15
                        años y más que experimentaron violencia en el ámbito laboral, 39.6% señaló que la principal persona
                        agresora fue un(a) compañero(a) de trabajo.</p>
                    <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Baja California, de las mujeres de 15
                        años y más que experimentaron violencia en el ámbito laboral, 85% declaró que las instalaciones del
                        trabajo fue el lugar principal de ocurrencia de violencia.</p>
                    <h3>Ambito Comunitario</h3>
                    <p>La ENDIREH 2021 estima que, en el estado de Baja California, 44.7% de la población de mujeres de 15 años y
                        más, ha experimentado situaciones de violencia en la comunidad a lo largo de la vida. Mientras que 18.6%
                        vivió este tipo de violencia en los últimos 12 meses.</p>
                    <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Baja California, de las mujeres de 15
                        años y más que experimentaron violencia en el ámbito comunitario, 72.2% señaló que la principal persona
                        agresora fue un desconocido.</p>
                    <p> La ENDIREH 2021 estima que, en el estado de Baja California, de las mujeres de 15 años y más que
                        experimentaron violencia en el ámbito comunitario en los últimos 12 meses, 69.2% declaró que ocurrió en la
                        calle o parque.</p>
                    <h3>Ambito Familiar</h3>
                    <p> La ENDIREH 2021 estima que, en el estado de Baja California, 8.6% de la población de mujeres de 15 años y
                        más ha vivido situaciones de violencia por parte de su familia en los últimos 12 meses</p>
                </div>
                
            </div>
        </body>
    </html>