<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Chiapas.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Hidalgo</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Acoso sexual y laboral</h3>
                    <p>De acuerdo con el Sistema Nacional de Seguridad Pública (SNSP) en Chiapas del 20 de junio del 2021 a mayo del 2022 
                        de 7 mil 391 delitos, de ellos, contra la familia representa el 13.52 por ciento, sin embargo, desde noviembre del 
                        2016 cuando se declara la alerta por violencia de género en siete municipios, en Chiapas se contabilizan mil 021 
                        muertes violentas de mujeres hasta diciembre del 2021 y en este 2022 suman ya 85 casos de feminicidios.
                        <br>
                        De acuerdo con la representante del colectivo Red Chiapas por la Paridad Efectiva (Repare), Enriqueta Burelo Melgar,
                         la declaratoria de alerta del 18 de noviembre del 2016 para Comitán de Domínguez, Chiapa de Corzo, San Cristóbal 
                         de Las Casas, Tapachula, Tonalá, Tuxtla Gutiérrez y Villaflores, no frenó la ola de violencia, esta se ha 
                         incrementado.</p>
                    <p>Se implementaron acciones específicas en los municipios de Aldama, Amatenango del Valle, Chalchihuitán, Chamula, Chanal, Chenalhó, 
                        Huixtán, Larráinzar, Mitontic, Oxchuc, Pantelhó, San Juan Cancuc, Santiago El Pinar, Tenejapa, Teopisca y Zinacantán, el principal 
                        marco jurídico, expone Burelo Melgar, para la prevención y atención es la Ley General para una Vida Libre de Violencia.</p>
                    <h3>HOSTIGAMIENTO LABORAL CON MAYOR INCIDENCIA</h3>
                    <p>Esta realidad hace que las mujeres desistan, retiran sus denuncias, pero no se persigue de oficio, la víctima sigue 
                        siendo violentada al regresar a su casa en ocasiones porque la pareja está muy molesta porque la denunciaron, la 
                        opción es que realmente se persiga de oficio, que se atienda la denuncia anónima por violencia hacia la mujer, 
                        quien sepa de casos y tengan las evidencias que se quejen, pero no por chismes, es importante la unión de los 
                        vecinos de las colonias, que no dejemos solas a las mujeres víctimas, hay que brindarles apoyo y acompañamiento.
                        <br>
                        Dijo que en Chiapas no se tiene conocimiento de la Guía Jackelyn Cambell que previene la violencia familiar, 
                        se aplica la Ley Estatal para una Vida de las Mujeres Libre de Violencia, pero no se deben permitir malos tratos, 
                        agresiones verbales, físicas, empujones, ni dispositivos en los celulares para saber la ubicación, muchas jóvenes 
                        tienen naturalizada la violencia por lo que han vivido en sus casas y en la sociedad y no debe ser normal, hay que 
                        combatirla, los agresores deben responder por sus actos ante la justicia..<br>                       
                        </p>
                    <p>El documento precisa que de las denuncias reportadas en 2022 son 30 que están en trámite por posible falta administrativa 
                        ante el Órgano Interno de Control y las 63 restantes están concluidas.<br>
                        Mientras que de 2023, son 58 que se encuentran en trámite por posible falta administrativa ante el Órgano Interno de 
                        Control y las 58 restantes se encuentran concluidas.<br>                       
                        Ninguna fue archivada ya que por protocolo todas se deberán atender, a excepción de dos del 2023, que las archivaron 
                        por ingresar, a solicitud de la presunta víctima, el desistimiento.<br>
                        
                    <h3>Medidas</h3>
                        <p>En Tuxtla Gutiérrez se creó la Unidad de Género de la Secretaría de Igualdad de Género del ayuntamiento, a la 
                            que según esa misma instancia, han acudido poco más de 40 mil familias en busca de atención médica, psicológica,
                             y de otra índole por violencia hacia las mujeres cometidas en diversas colonias, y ante este escenario, muchas
                              mujeres caminan en la calle siempre con miedo, con el temor permanente, apuntó.
                            <br>
                            En el Congreso del Estado desde el Consejo Consultivo Ciudadano de la Comisión de Seguimiento a las Acciones 
                            de Procuración de Justicia Vinculadas a los Feminicidios en Chiapas, se da seguimiento, participan organizaciones
                             de la sociedad civil, académicas, representantes de colectivos, se toman decisiones pero, insistió, la violencia
                              hacia las mujeres no se logra frenar.</p>
                </div>
            </div>
        </body>
        </body>
    </html>