<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Chihuahua.css">
        </head>
        <body>
            <div class="ContenedorChi">
                <div class="PrimerPanelChi">
                    <h2>Chihuahua</h2>
                    <p>La ENDIREH 2021 reveló que el 71% de las mujeres chihuahuenses de más de 15 años 
                        experimentaron algún tipo de violencia: Psicológica, física, sexual, económica o 
                        patrimonial a lo largo de la vida y 43.9% en los doce meses del mismo 2021.</p>
                    <img id="img1Sono" src="/Img/ImgEstados/Chihuahua/imgChi1.png">
                    <p>La ENDIREH 2021 estima que, en el estado de Chihuahua, <b>33.7% de la población 
                        de mujeres de 15 años y más, ha experimentado situaciones de violencia en la 
                        escuela </b> a lo largo de la vida. Mientras que 21.1% vivió
                        este tipo de violencia en los últimos 12 meses del 2021.</p>
                        <div class="img23Sono">
                            <img src="/Img/ImgEstados/Chihuahua/imgChi2.png">
                        </div>
                </div>
                <div class="SegundoPanelChi">
                    <h3>Violencía</h3>
                    <p>De las mujeres encuestadas en el 2021, el 50% reportaron haber sufrido violencia sexual a lo largo de la vida, 
                        incrementándose este rubro en un 0.2% de 2016 a 2021; violencia física, 33.5% mujeres a lo largo de su vida, 
                        económica o patrimonial, el 30% y psicológica el 51%; esto incluye aquella violencia ejercida por la pareja o expareja,
                         por cualquier familiar, otra persona agresora, discriminación por razones de embarazo en los últimos 5 años y 
                         discriminación laboral entre las mujeres asalariadas en los últimos 12 meses.</p>
                         <br>
                         <p>Además, en el ámbito laboral, el 30% de las mujeres reportó haber sufrido un acto de violencia en su contra, 
                            así como de discriminación laboral, siendo Chihuahua el estado con mayor incidencia en este rubro en el país. 
                            De las mujeres que fueron violentadas en su ámbito laboral, en el 2021, 41.8% reportaron haber sido 
                            agredidas por un compañero de trabajo y 16.9% por el patrón o jefe. <br>
                            En el ámbito comunitario, se estima que el 42.1% de las mujeres mayores de 15 años en Chihuahua han sufrido la 
                            violencia, particularmente sexual, con un reporte del 42.1%, en un mayoría por un desconocido, según lo reportó el 
                            64% de las mujeres encuestadas; de estas mujeres el 65% reportó haber sido agredidas en la calle o en un parque.
                            <br>
                            En el rubro de la violencia en el ámbito familiar, se tuvo un incremento de casi dos puntos porcentuales, 
                            pues en el 2016 se reportó un 9.8% de mujeres que sufrieron violencia, mientras que en 2021 el 11.6% reportó haber 
                            sido agredida en el mismo periodo de tiempo. En este rubro, los principales agresores son hermanos o hermanas, 
                            la madre y el padre.</p>
                            <br>
                    <h3>Acoso</h3>
                    <p>Durante enero del 2021, 78 mujeres llamaron al número de emergencia 911 para reportar acoso sexual, cifra que coloca a Chihuahua 
                        como la entidad con más reportes de este tipo. Esta cifra es superior al 2020, pues en enero de dicho año hubo 65 llamadas en todo 
                        el estado, de acuerdo con información del Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública.<br>
                        A nivel nacional, 563 llamadas por acoso se realizaron en el primer mes del año, y luego de Chihuahua, las entidades que
                         más reportaron fueron la Ciudad de México y Guanajuato con 58 y 56 llamadas, respectivamente. Durante 2020, Chihuahua 
                         registró 1 mil 118 casos; la Ciudad de México 969 y Guanajuato 849. </p>
                         <br>
                    <h3>Violencía de género</h3>
                    <p>En otro marco, plantea el Instituto Nacional de Estadística y Geografía (Inegi) que durante los últimos cinco años seis de cada 
                        10 mujeres reporta haber sido víctima de algún tipo de violencia de género y ocho de cada diez, sienten temor de ser agredidas 
                        física o verbalmente, al caminar por las calles. <br>
                        Es de mencionar que a este grupo se suman los casos de abuso sexual, que según con cifras oficiales, rondan en los 600 y 700 casos
                         por año, cifra que de acuerdo con las mismas autoridades, sería superior pues muchas de las víctimas deciden no denunciar, mientras 
                         que el promedio de llamadas de auxilio por acoso sexual oscila en poco más de 1000 casos al año.
                    </p>
                </div>
            </div>
            
        </body>
    </html>