<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Coahuila.css">
        </head>
        <body>
            <div class="ContenedorCoa">
                <div class="PrimerPanelCoa">
                    <h2>Coahuila</h2>
                    <p> La ENDIREH 2021 estima que, en el estado de Coahuila, <b>72.3% de las mujeres de 15 años o más</b>,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 45.9% en el año 2021.</p>
                    <img id="img1Sono" src="/Img/ImgEstados/Coahuila/img1Coa.png">
                    <p> La ENDIREH 2021 estima que, en el estado de Coahuila, 34.4% de la población de mujeres de 15 años y más,
                        ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 23.4% vivió este
                        tipo de violencia en 2021</p>
                        <div class="img23Sono">
                            <img src="/Img/ImgEstados/Sonora/imgSono2.png">
                        </div>
                </div>
                <div class="SegundoPanelCoa">
                    <h3>Violencia</h3>
                    <p>En el 2023, Coahuila presento 494 denuncias de violación, según datos dados a conocer por el Secretariado Ejecutivo del 
                        Sistema Nacional de Seguridad en su último informe sobre delitos contra las mujeres. Los datos federales dan cuenta que en
                         todo el país por este delito hubo 22 mil 775 delitos. La media nacional fue de 17.3 por cada 100 mil habitantes, siendo 
                         inferior a la de Coahuila.</p><br>
                    <p>Por el lado de las llamadas de emergencia relacionadas con incidentes de abuso sexual hubo 8 mil uno en todo el país, 
                        de las cuales 340 fueron en Coahuila. La tasa nacional fue de 6.1 por cada 100 mil habitantes, en Coahuila fue de 10.17.</p>
                    <h3>Acoso</h3>
                    <p>En Coahuila, Los llamados de acoso u hostigamiento sexual para el año 2023 son de 441. Esto rebasa la tasa por cada 
                        100 mil habitantes, ya que en Coahuila fue de 13.19, mientras que la nacional que fue de 9.1. </p>
                </div>
            </div>
            
        </body>
    </html>