<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Colima.css">
        </head>
        <body>
            <div class="ContenedorCol">
                <div class="PrimerPanelCol">
                    <h2>Colima</h2>
                    <p> La ENDIREH 2021 estima que, en el estado de Colima, 73.9% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 48.2% en los últimos 12 meses.</p>
                    <p> La ENDIREH 2021 estima que, en el estado de Colima, el ámbito comunitario es en el que las mujeres de 15
                        años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (48%).</p>
                </div>
                <div class="SegundoPanelCol">
                    <p></p>
                </div>
            </div>
        </body>
    </html>