<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Durango.css">
        </head>
        <body>
            <div class="ContenedorD">
                <div class="PrimerPanelD">
                    <h2>Durango</h2>
                    <p> La ENDIREH 2021 estima que, en el estado de Durango, 69.1% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 43.1% en los últimos 12 meses</p>
                    <p> La ENDIREH 2021 estima que, en el estado de Durango, el ámbito comunitario es en el que las mujeres de
                        15 años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (42%)</p>
                </div>
                <div class="SegundoPanelD">
                    <h3>Ambito Escolar</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de Durango, 32.5% de la población de mujeres de 15 años y más,
                            ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 23.6% vivió este
                            tipo de violencia en los últimos 12 meses.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Durango, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito escolar, 42.8% señaló que la principal persona agresora fue
                            un compañero de la escuela.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Durango, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito escolar, 56.9% declaró que la escuela fue el lugar principal de
                            ocurrencia de violencia.</p>
                    <h3>Ambito Laboral</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de Durango, 28.8% de la población de mujeres de 15 años y más
                            ha vivido situaciones de violencia en el trabajo a lo largo de la vida. Mientras que 22.7% vivió este tipo de
                            violencia en los últimos 12 meses.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Durango, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito laboral, 35.9% señaló que la principal persona agresora fue
                            un(a) compañero(a) de trabajo.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Durango, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito laboral, 73.1% declaró que las instalaciones del trabajo fue
                            el lugar principal de ocurrencia de violencia.</p>
                    <h3>Ambito comunitario</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de Durango, 42% de la población de mujeres de 15 años y más,
                            ha experimentado situaciones de violencia en la comunidad a lo largo de la vida. Mientras que 22.2% vivió
                            este tipo de violencia en los últimos 12 meses.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Durango, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito comunitario, 58.8% señaló que la principal persona agresora
                            fue un desconocido.</p>
                </div>
            </div>
        </body>
    </html>