<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/EdoMex.css">
        </head>
        <body>
            <div class="ContenedorE">
                <div class="PrimerPanelE">
                    <h2>Estado de México</h2>
                    <p>La ENDIREH 2021 estima que, en el Estado de México, 78.7% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 47.6% en los últimos 12 meses.</p>
                    <p>La ENDIREH 2021 estima que, en el Estado de México, el ámbito comunitario es en el que las mujeres de 15
                        años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (58.5%).</p>
                </div>
                <div class="SegundoPanelE">
                    <h3>Acoso</h3>
                    <p>El acoso sexual fue el delito de género que creció en el número de denuncias del 2022 al 2023 en el Estado de México,
                         según las cifras del Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública (SESNSP) publicadas este 25 d
                         e enero.<br>
                        Al hacer un análisis sobre el reporte de las carpetas de investigación que informan las fiscalías estatales al SESNSP, 
                        en el mismo lapso también aumentaron las denuncias por el hostigamiento sexual, violación simple y violencia familiar.</p>
                    <p>Por ejemplo, el acoso sexual creció en 33.4%; hostigamiento sexual en 9.6%; violación simple aumentó en 22.6%, y la violencia 
                        familiar en 4.1%.</p>
                    <p>Además, los datos del SESNSP establecen disminuciones en los delitos de feminicidio, en 35.5%; el abuso sexual bajó en 
                        3.1%; la violación equiparada disminuyó en 39.2% y la violencia de género 3.3%.<br>
                        La incidencia delictiva con mayor número de casos denunciados en la entidad mexiquense, de enero a diciembre del 2023, 
                        fue la violencia familiar, sumando 28 mil 650; luego el acoso sexual con 5 mil 499; abuso sexual tuvo 5 mil 313 reportes; 
                        violencia de género 2 mil 594.</p>
                </div>
            </div>
        </body>
    </html>