<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Guanajuato.css">
        </head>
        <body>
            <div class="ContenedorG">
                <div class="PrimerPanelG">
                    <h2>Guanajuato</h2>
                    <p> La ENDIREH 2021 estima que, en el estado de Guanajuato, 68.1% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 44.4% en los últimos 12 meses.</p>
                    <p> La ENDIREH 2021 estima que, en el estado de Guanajuato, el ámbito comunitario es en el que las mujeres
                        de 15 años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (43.5%)</p>
                </div>
                <div class="SegundoPanelG">
                    <h3>Violencia</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de Guanajuato, 30.2% de la población de mujeres de 15 años y
                            más, ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 19.7% vivió
                            este tipo de violencia en los últimos 12 meses.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Guanajuato, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito escolar, 47.5% señaló que la principal persona
                            agresora fue un compañero de la escuela</p>
                        <p>La ENDIREH 2021 estima que, en el estado de Guanajuato, 25.8% de la población de mujeres de 15 años y
                            más ha vivido situaciones de violencia en el trabajo a lo largo de la vida. Mientras que 22.5% vivió este tipo
                            de violencia en los últimos 12 meses.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Guanajuato, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito laboral, 35.4% señaló que la principal persona
                            agresora fue un(a) compañero(a) de trabajo.</p>
                    <h3>Acoso</h3>
                        <p>En ocho meses el estado de Guanajuato ha acumulado un total de mil 353 reportes por abuso, acoso y 
                            hostigamiento sexual, según lo detalla el último reporte del Secretariado Ejecutivo del Sistema Nacional de 
                            Seguridad Pública (SNSP). <br>
                            De acuerdo con la información de enero al mes de agosto del 2023, Guanajuato acumuló un total de mil 039 reportes
                            por abuso sexual, 257 más por acoso sexual, y por hostigamiento sexual un total de 57 reportes, este último con
                            la connotación de 'normalización' y que se ha considerado como un factor cultural que se deriva del machismo 
                            mexicano.</p>
                        <p>De esta manera, durante el 2022 en el mismo periodo se registraron 999 reportes por abuso sexual, 245 por acoso 
                            sexual, y por hostigamiento sexual 67; lo cual quiere decir que las cifras durante el actual año tuvieron un 
                            ligero incremento.<br>
                            En el caso del abuso sexual se tuvo un aumento del 3.8 por ciento, mientras que los reportes por acoso sexual 
                            incrementaron un 6.66 por ciento, y por hostigamiento sexual se tuvo una disminución de al menos 10 hechos menos 
                            que el año anterior.<br>                           
                            Sin embargo, datos de la Fiscalía General del Estado de Guanajuato señalan que en el periodo de enero al mes 
                            de agosto, los delitos contra la libertad y la seguridad sexual acumularon un total de 2 mil 53 carpetas de 
                            investigación.</p>
                </div>

            </div>
        </body>
    </html>