<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Guerrero</title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Gerrero.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Guerrero</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Acoso sexual y laboral</h3>
                    <p>En el estado de Guerrero, la violencia de género es un problema significativo. Según la Encuesta Nacional sobre la 
                        Dinámica de las Relaciones en los Hogares (ENDIREH) 2021, 68.8% de las mujeres de 15 años o más han experimentado 
                        algún tipo de violencia (psicológica, física, sexual, económica o patrimonial) a lo largo de su vida1. Además, 4
                        4.1% de las mujeres han</p>

                        
                    <h3>MUJERES MAYORÍA DE VÍCTIMAS</h3>
                        <p> Guerrero también se destaca por tener uno de los porcentajes más altos de prevalencia de violencia en el ámbito familiar,
                            con 15% de las mujeres reportando episodios de violencia familiar durante 2021</p>
                </div>
            </div>
        </body>
    </html>
 