<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Hidalgo.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Hidalgo</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Acoso sexual y laboral</h3>
                    <p>Durante 2023 en las dependencias del gobierno de Hidalgo se registraron 116 denuncias por hostigamiento y acoso, 
                        tanto sexual como laboral, cifra que incrementó 24.7 por ciento en comparación con lo reportado en 2022.<br>
                        En respuesta a la solicitud de información con número 130213100006624 hecha por AM Hidalgo, la Unidad de Transparencia 
                        del Poder Ejecutivo reveló que en dos años se reportaron 209 denuncias.</p>
                    <p>La mayoría de los actos denunciados ocurrieron en el primer año del actual gobierno con 116, mientras que en el último año
                         de la pasada administración fueron 93 denuncias.</p>
                    <h3>HOSTIGAMIENTO LABORAL CON MAYOR INCIDENCIA</h3>
                    <p>Según datos de Transparencia 61 denuncias fueron en 2022, la mayoría por hostigamiento laboral con 35, seguido de acoso 
                        laboral con 12, además de ocho de hostigamiento sexual y seis de acoso sexual.<br>                       
                        Mientras que 54 se reportaron en 2023, de ellas 32 por hostigamiento laboral, 11 por hostigamiento sexual, nueve por a
                        coso laboral y dos por acoso sexual.<br>                       
                        Las denuncias restantes de las 209 en total reportadas en dos años fueron notificadas por el Órgano Interno de Control,
                        pero no mencionan la posible conducta señalada.</p>
                    <p>El documento precisa que de las denuncias reportadas en 2022 son 30 que están en trámite por posible falta administrativa 
                        ante el Órgano Interno de Control y las 63 restantes están concluidas.<br>
                        Mientras que de 2023, son 58 que se encuentran en trámite por posible falta administrativa ante el Órgano Interno de 
                        Control y las 58 restantes se encuentran concluidas.<br>                       
                        Ninguna fue archivada ya que por protocolo todas se deberán atender, a excepción de dos del 2023, que las archivaron 
                        por ingresar, a solicitud de la presunta víctima, el desistimiento.<br>
                        
                    <h3>MUJERES MAYORÍA DE VÍCTIMAS</h3>
                        De acuerdo con la Unidad de Transparencia, en las denuncias notificadas 12 son hombres y 44 mujeres las presuntas 
                        víctimas.<br>                       
                        Además, dos personas fueron separadas del cargo, una de ellas con procedimiento penal, sin precisar el área o cargo, 
                        mientras que dos procesos se presentaron por conductas fuera del espacio laboral.</p>
                </div>
            </div>
        </body>
    </html>