<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Jalisco.css">
        </head>
        <body>
            <div class="ContenedorJ">
                <div class="PrimerPanelJ">
                    <h2>Jalisco</h2>
                    <p>De acuerdo con la encuesta ENDIREH 2021, 7 de cada 10 mujeres en Jalisco sufrieron un incidente de violencia. 
                        Guadalupe Ramos, de Cladem, nos explica que esta violencia es un problema de derechos humanos y de salud 
                        pública que resquebraja el tejido social, afecta a la comunidad, y al ámbito familiar.<br>
                        El 71.9% de las mujeres de 15 años y más en Jalisco declaró, en 2021, haber sufrido al menos un incidente 
                        de violencia a lo largo de su vida. De ellas, un 54% experimentó violencia psicológica, 35.2% violencia física, 
                        53.7% sexual y 30.5% económica o patrimonial o discriminación en, al menos, un ámbito de la vida y ejercida por 
                        cualquier agresor. Las que reportaron haber vivido violencia en los últimos doce meses fueron el 45.8%.</p>
                    <p>De acuerdo el análisis que realizamos de los Principales Resultados de la Encuesta Nacional sobre la Dinámica 
                        de las Relaciones en los Hogares (ENDIREH) 2016-2021, Jalisco (71.9%) ocupó el séptimo lugar a nivel nacional 
                        entre las entidades con mayor prevalencia de violencia en mujeres.</p>
                </div>
                <div class="SegundoPanelJ">
                    <h3>Pareja</h3>
                        <p>En el análisis de los datos de la ENDIREH 2021, se señala que, en el periodo 2016-2021, la proporción de mujeres de 
                            15 años y más en Jalisco que señalaron haber experimentado violencia psicológica por parte de su pareja disminuyó 
                            relativamente un 16.1%, al pasar de 43.7% a 36.7%, respectivamente</p>
                    <h3>Violencia</h3>
                        <p>Indica que en el periodo 2016-2021, el porcentaje de quienes sufrieron violencia física bajó de 17.1% a 14.4%, 
                            lo que significó un decremento del 15.6%. Por su parte, el porcentaje de las mujeres que padecieron de violencia 
                            económica o patrimonial y/o discriminación, se redujo en 8.8%; en tanto que, la proporción de las que fueron 
                            víctimas de violencia sexual por parte de su pareja se incrementó en un 6.5%.</p>
                </div>
            </div>
        </body>
    </html>