<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Michoacan.css">
        </head>
        <body>
            <div class="ContenedorM">
                <div class="PrimerPanelM">
                    <h2>Michoacan</h2>
                    <p>La ENDIREH 2021 estima que, en el estado de Michoacán, 64.9% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 42.7% en los últimos 12 meses.</p>
                    <p> La ENDIREH 2021 estima que, en el estado de Michoacán, el ámbito pareja es en el que las mujeres de 15
                        años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (42.6%).</p>
                </div>
                <div class="SegundoPanelM">
                    <h3>Acoso</h3>
                    <p>El 2023 Michoacán cerró con un total de 187 denuncias por acoso sexual ante la Fiscalía General de Justicia del Estado 
                        (FGE), según datos de la Dirección General de Tecnologías de la Información, Planeación y Estadística de la FGE.
                        Las cifras ponen a la región centro Morelia como la zona de entidad en la cual se registraron más casos de acoso sexual 
                        con 84 en total; a la capital le sigue la región purépecha de Uruapan con 29; La Piedad 19; Zitácuaro (región Oriente) 
                        18; Zamora 16; Huetamo 9; Lázaro Cárdenas 5; Apatzingán 3; Coalcomán y Jiquilpan 2 respectivamente.         <br>       
                        El mes en donde más acoso sexual se denunció fue abril con 22 denuncias, en contraparte con diciembre donde se 
                        registraron 7 hechos ante la FGE.                <br>     
                        En comparación con el 2022, los números bajaron escasos 3 casos, sin embargo, la región centro continuó siendo la 
                        zona con más acoso sexual.          <br>             
                        En el Código Penal del Estado en su artículo 169 se establece una pena de prisión de los 6 meses a los 2 años de
                         prisión a quien "valiéndose de su posición jerárquica derivada de sus relaciones laborales, docentes, domésticas
                          o de cualquier otra clase que implique subordinación, solicite a otra persona de forma reiterada para sí o para 
                          un tercero, cualquier tipo de acto de naturaleza sexual"; y de uno a 4 años de cárcel si la víctima se encuentra 
                          en una situación vulnerable por ser menor de edad o tener alguna discapacidad.</p>
                </div>
            </div>
        </body>
    </html>