<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Morelos.css">
        </head>
        <body>
            <div class="ContenedorMor">
                <div class="PrimerPanelMor">
                    <h2>Morelos</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelMor">
                    <h3>Acoso</h3>
                    <p>Lograr una vida libre de violencia para las mujeres, adolescentes y niñas en Morelos, es el compromiso que desde el 
                        Poder Ejecutivo se ha asumido como prioridad en la agenda estatal, destacó el subsecretario de Gobierno, Israel 
                        Calderón Reyes. 
 <br>
                        Lo anterior, al acudir en representación del secretario de Gobierno, Samuel Sotelo Salgado, a la séptima sesión 
                        extraordinaria del Sistema Estatal para Prevenir, Atender, Sancionar y Erradicar la Violencia contra las Mujeres 
                        (SEPASE), que se llevó a cabo de manera virtual. 
                        <br>                   
                        Acompañado por la titular de la Comisión Ejecutiva para Prevenir y Erradicar la Violencia contra las Mujeres del 
                        Poder Ejecutivo (Coevim), Adriana De la Cruz Morales, y en presencia de la presidenta del Instituto de la Mujer 
                        del Estado de Morelos y secretaria ejecutiva del SEPASE, Isela Guadalupe Chávez Cardoso, Calderón Reyes convocó a 
                        poner énfasis en los datos y estadísticas que se abordaron en la sesión para diseñar y rediseñar políticas públicas,
                         sobre todo en el ámbito preventivo.
                         <br>  
                        Recordó que, de acuerdo a la Ley de Acceso de las Mujeres a una Vida Libre de Violencia, el Ejecutivo estatal 
                        para el cumplimiento de sus atribuciones, requiere de formular, instrumentar, articular y conducir la política 
                        integral estatal en materia de prevención y erradicación de la violencia contra las mujeres, desde la perspectiva 
                        de género, con base en la información acerca de las causas y las consecuencias de la violencia contra las mujeres, 
                        las adolescentes y las niñas.
                        <br>
                        Durante la sesión, integrantes del Sistema recibieron un taller informativo por parte de Lina Eugenia Cuevas 
                        Ramírez, subdirectora de Estadística de Violencia contra las Mujeres del Instituto Nacional de Estadística y 
                        Geografía (INEGI), a fin de que las dependencias estatales sean conscientes de la situación que guarda el estado 
                        y se actúe en consecuencia de manera eficaz y eficiente.
                        <br>
                        Adriana De la Cruz destacó que los reportes del INEGI arrojaron que, en Morelos, los ámbitos escolar, comunitario 
                        y familiar son en los que más prevalece la violencia contra mujeres de 15 a 34 años, siendo la del tipo psicológico 
                        la que más se percibe o se recibe en ellos. 
                        <br>
                        El 70 por ciento de las mujeres de Morelos dijo no haber acudido a denunciar a pesar de recibir o percibir algún 
                        tipo de violencia contra ellas, porque no consideraron que fuese algo grave o que requiriera denuncia, asesoría o 
                        apoyo, lo que nos habla de que se debe trabajar más en desmontar el discurso de los agresores sobre la presión que 
                        ejercen sobre sus víctimas para lograr que minimicen sus conductas.
                        <br>
                        Otro dato interesante es que siete cada diez mujeres manifestaron atravesar una situación de violencia a lo largo 
                        de su vida siendo la psicológica en primer lugar, la sexual en segundo y la física en tercero.
                        <br>
                        Todo lo anterior, es ya analizado por la Coevim, para dirigir, coordinar y gestar acciones desde el Ejecutivo 
                        para abatir aquellas conductas violentas más predominantes, así como a ejecutar estrategias enfocadas a la 
                        prevención y erradicación de las mismas.</p>
                </div>
            </div>
        </body>
    </html>