<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Nayarit.css">
        </head>
        <body>
            <div class="ContenedorN">
                <div class="PrimerPanelN">
                    <h2>Nayarit</h2>
                    <ol>
                        <li>21.9% de las mujeres de 15 años y más han sido violentadas a lo largo de su vida 
                            escolar y 14.1% en los últimos 12 meses. </li>
                        <li>La violencia de tipo sexual es la que más se presenta en el ámbito comunitario con 
                            21.9% de las mujeres de 15 años y más, a lo largo de su vida. </li>
                        <li>39 de cada 100 mujeres de 15 años y más que han tenido al menos una relación de 
                            pareja o matrimonio o noviazgo, han sido agredidas por su actual o última pareja a lo 
                            largo de su relación.</li>
                        <li>Ante los conflictos, las reacciones que tienen sus ex parejas en el caso de las 
                            separadas, divorciadas o viudas, son mediante agresiones en 65.7% de los casos </li>
                        <li>En Nayarit, el 26.1% de las mujeres madres (94.5 mil) tuvieron su primer hijo nacido 
                            vivo antes de los 18 años. </li>
                    </ol>
                </div>
                <div class="SegundoPanelN">
                    <h3>Ambito escolar</h3>
                        <p>Los datos de la ENDIREH 2016 nos muestran que en la entidad 21.9% de las mujeres de 15 
                            años y más, que asistieron alguna vez a la escuela han padecido algún tipo de violencia, de 
                            éstas 16.0% han recibido agresiones físicas dirigidas a dañar o intentar dañar su cuerpo, tales 
                            como empujones, golpes con la mano o puño, jalones de pelo, patadas o golpes con algún 
                            objeto o arma punzocortante o arma de fuego; así como intento de ahorcamiento o asfixia o 
                            amarrarlas. El 8.9% agresiones de tipo sexual, que incluye la intimidación, el acoso y el 
                            hostigamiento sexual, el abuso sexual y la violación o intento de violación. En tanto que 8.0% 
                            recibió violencia de tipo emocional, agresiones que afectan el estado emocional o psicológico: 
                            insultos, amenazas, intimidaciones, humillaciones, indiferencia, menosprecio, burlas, 
                            aislamiento, entre otras.</p>
                        <p>Por grupos decenales de edad, las mujeres violentadas a lo largo de su vida escolar se 
                            presentan en su mayoría entre las de 45 a 54 años con 25.9%, más jóvenes, (15 a 24 años) con 
                            23.6% y las de 25 a 34 con 21.3%, en tanto que las de 55 y más años presentan la menor 
                            proporción con incidentes de violencia con 18.6 por ciento.  </p>
                        <p>Cabe mencionar que Nayarit ocupa el lugar 25 en el país, en violencia contra las mujeres a lo 
                            largo de su vida escolar, por abajo del promedio nacional (25.3%) y que la violencia contra las 
                            mujeres que asistieron alguna vez a la escuela, se da en un porcentaje más alto en localidades 
                            urbanas (24.1%) que en las rurales (16.3%). Entre las mujeres que asistieron en los últimos 12 
                            meses sucede lo mismo con 16.4% en el ámbito urbano y 5.7% en el rural. </p>
                    <h3>Ambito comunitario</h3>
                        <p>En la entidad 25.0% de las mujeres de 15 años y más han padecido algún tipo de violencia en la 
                            comunidad, de éstas 21.9% han recibido agresiones de tipo sexual, que incluye la intimidación, 
                            el acoso y el hostigamiento sexual, el abuso sexual y la violación o intento de violación, el 9.4% 
                            recibió violencia de tipo emocional, en tanto que 4.4% sufrió agresiones físicas dirigidas a dañar 
                            o intentar dañar su cuerpo. </p>
                        <p>En cuanto a las mujeres de este rango de edad durante los últimos 12 meses anteriores a la 
                            encuesta, el 15.5% recibió algún tipo de violencia por parte de alguna persona de la comunidad; 
                            13.6% fue de tipo sexual, 5.0% de éstas mujeres fueron agredidas emocionalmente y 2.3 lo 
                            fueron físicamente. <br>
                            Cabe mencionar que Nayarit ocupa el lugar 30 en violencia contra las mujeres en el ámbito 
                            comunitario a lo largo de su vida, por abajo del promedio nacional (38.7%) y que la violencia 
                            contra las mujeres en la comunidad, se da en un porcentaje más alto en localidades urbanas 
                            (30.2%) que en las rurales (12.7%). Entre las mujeres en los últimos 12 meses sucede lo misma 
                            situación con 19.2% en el ámbito urbano y 6.9% en el rural.  
                            </p>
                </div>
            </div>            
        </body>
    </html>