<!DOCTYPE html>
    <html>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <head>
            <title></title>
        </head>
        <link rel="stylesheet" href="/CSS/estidosEstados/NuevoLeon.css">
        <body>
            <div class="ContenedorNL">
                <div class="PrimerPanelNL">
                    <h2>Nuevo Leon</h2>
                        <p> En el trimestre de abril a junio del 2024 se tienen registrados en 
                            el "Banco Estatal de Datos e Información sobre Casos de Violencia contra las Mujeres " (BAESVIM) 
                            un total de 19,498 "Expedientes Únicos de la Víctima" 
                            (EUV), un total de 19,650 servicios brindados a las víctimas de 
                            violencia y un total de 352 órdenes de protección registradas 
                            por las distintas dependencias del Sistema Estatal para 
                            Prevenir, Atender, Sancionar y Erradicar la Violencia contra las 
                            Mujeres. <br>
                            Los órganos autónomos son quienes tienen la mayor cantidad 
                            de registros en los expedientes únicos de las víctimas con un 
                            total de 12,088 casos. <br>
                            En los servicios brindados, son las dependencias municipales 
                            quienes generaron la mayor cantidad de registros con un total 
                            de 14,076 servicios. <br>
                            Por último, referente a las órdenes de protección, se cuenta 
                            con un total de 352 registros, siendo las dependencias 
                            centrales con un total de 244 órdenes, las que generaron la 
                            mayor cantidad de registros. </p>
                        <img id="img1Sono" src="/Img/ImgEstados/NuevoLeon/img1NL.png">
                    <h3>Comparativa de los casos de violencia registrados</h3>
                    <div class="img23Sono">
                        <img src="/Img/ImgEstados/NuevoLeon/img2NL.png">
                    </div>
                </div>
                <div class="SegundoPanelNL">
                    <h3>Violencia</h3>
                    <p> En total se capturaron en el trimestre de abril a 
                        junio 19,498 casos de violencia contra las 
                        mujeres, niñas y niños, 19,650 servicios otorgados 
                        a las víctimas y 352 órdenes de protección 
                        emitidas a favor. <br>
                        Al analizarse los datos capturados en el Banco, 
                        se encuentra que en el perfil promedio de la 
                        víctima cuenta con 31 años de edad; la 
                        escolaridad máxima es secundaria, el estado 
                        civil es soltera, el 48% no presenta datos en el 
                        vínculo con el agresor, la modalidad donde más 
                        casos de violencia se presentan es en el ámbito 
                        familiar y el tipo de violencia es la física. La 
                        principal actividad que realiza es fuera del 
                        hogar, pero el de mayor ponderación no 
                        presenta datos con un 53%.</p>
                        <br>
                    <h3>Efectos de la violencia</h3>
                        <p> Los efectos de la violencia son las consecuencias que sufren las mujeres en situación de violencia cuando ya fueron agredidas.
                            De la distribución de casos respecto de los efectos que causa la violencia, se tiene como el efecto psicológico de angustia o 
                           miedo como el de mayor ponderación de los efectos de la violencia con un 14.92%. Respecto de los demás efectos, se tiene el 
                           agente de lesión de golpes con un 12.49%, en el efecto económico es la falta de no recibir pensión alimenticia con un 6.63%, 
                           en cuanto al efecto físico es la contusión o hematoma con un total de 4.90%, el área anatómica lesionada es la cara con un 
                           0.90% y el efecto sexual de ardor vaginal con un 0.21%. </p>
                </div>
            </div>
            
        </body>
    </html>
    