<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Oaxaca</title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Oaxaca.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Oaxaca</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Acoso sexual y laboral</h3>
                    <p>En el estado de Oaxaca, la violencia de género también es un problema grave. Según la Encuesta Nacional sobre la 
                        Dinámica de las Relaciones en los Hogares (ENDIREH) 2021, 66.1% de las mujeres de 15 años o más han experimentado 
                        algún tipo de violencia (psicológica, física, sexual, económica o patrimonial) a lo largo de su vida1. Además, 42.5% 
                        de las mujeres han sufrido violencia en los últimos 12 meses1.
                        <br>
                        Oaxaca también presenta altos índices de violencia en el ámbito familiar, con 14.3% de las mujeres reportando 
                        episodios de violencia</p>
                    
                </div>
            </div>
        </body>
    </html>