<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Puebla.css">
        </head>
        <body>
            <div class="ContenedorP">
                <div class="PrimerPanelP">
                    <h2>Puebla</h2>
                    <p> La ENDIREH 2021 estima que, en el estado de Puebla, 70.8% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 41% en los últimos 12 meses.</p>
                    <p>La ENDIREH 2021 estima que, en el estado de Puebla, el ámbito comunitario es en el que las mujeres de 15
                        años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (44.9%).</p>
                </div>
                <div class="SegundoPanelP">
                    <h3>Acoso</h3>
                    <p>Aunque es un fenómeno frecuente en todo el país, en los últimos tres años y medio sólo se ha denunciado un promedio de
                         20 casos de acoso sexual por mes en el estado de Puebla.</p>
                    <p>De acuerdo con un informe de la consultora TResearch, entre diciembre de 2018 y agosto de 2022, en el estado se tiene 
                        registro de 910 acusaciones de acoso en 45 meses, lo que da un promedio de 20 mensuales.
                        <br>
                        Con la cifra general, Puebla se ubica en el séptimo lugar con más sucesos de este tipo, sólo por detrás de Estado de 
                        México que suma 4 mil 995, la Ciudad de México con 4 mil 239, Querétaro con 1994, Nuevo León con 1 mil 755, Coahuila 
                        con 1 mil 069 y Jalisco con 1 mil 014.
                        <br>
                        Destaca el hecho de que en 2019 Puebla fue el tercer estado con más denuncias por acoso sexual, al llegar a 302.
                        <br>
                        En 2020 fue octavo con 218, en 2021 repitió la posición con 260 y en 2022 va en undécimo sitio con 130.</p>
                    <p>El 13.4 por ciento de los habitantes de Puebla capital enfrentaron acoso personal y violencia sexual en lugares públicos
                         en el segundo semestre de 2023.</p>
                    <p>En Puebla, el porcentaje de pobladores que sufrieron acoso personal y violencia sexual en espacios 
                        públicos fue menor respecto al promedio del país.</p>
                    <p>El 19.3 por ciento de la población de mujeres enfrentaron acoso personal y violencia sexual en lugares públicos en el 
                        segundo semestre de 2023 en Puebla.<br>

                        Mientras que, el 5.2 por ciento de los hombres que viven en Puebla capital tuvieron el mismo problema de acoso en el 
                        mismo lapso de 2023.</p>
                    <p>Puebla capital es uno de los 50 municipios en donde se activó la Alerta de Violencia de Género contra las Mujeres (AVGM). 
                        El municipio fue seleccionado debido a los niveles de violencia contras las mujeres.<br>

                        Además, en 2023, la Fiscalía General del Estado inició 12 carpetas de investigación por feminicidio. Además, comenzó 
                        365 investigaciones por abuso sexual; 101 por acoso sexual y 40 por hostigamiento sexual.</p>
                </div>
            </div>
        </body>
    </html>