<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Queretaro.css">
        </head>
        <body>
            <div class="ContenedorQ">
                <div class="PrimerPanelQ">
                    <h2>Queretaro</h2>
                    <p>El estado de Querétaro tiene la tasa de incidencia más alta del país en el delito de ‘acoso sexual’ al término del 
                        primer semestre de 2022, según el Laboratorio Universitario de Seguridad Ciudadana (LUSC) con base en datos del 
                        Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública (SESNSP); este delito además alcanzó su máximo 
                        histórico en junio con 87 para acumular 410 carpetas de investigación en lo que va del año.<br>
                        De igual forma, Querétaro encabezó la tasa por cada 100 mil habitantes en ‘otros robos’ y ‘violencia de género 
                        en todas sus modalidades distinta a la violencia familiar’. A su vez, se posicionó en segundo lugar nacional en 
                        la tasa de ‘otros delitos que atentan contra la vida y la integridad corporal’ y en tercero en ‘robo en transporte 
                        individual’, es decir, taxis.                   <br>     
                        De igual forma, la entidad fue tercer lugar nacional en tasa de incidencia de ‘aborto’, acto penado con una 
                        sentencia que va de uno a tres años, según el artículo 138 del Código Penal del Estado de Querétaro. A pesar de 
                        las carpetas existentes, Mariela Ponce Villa, magistrada presidenta del Tribunal Superior de Justicia (TSJ), señaló 
                        que no han judicializado estas denuncias desde 2021. <br>                      
                        Además, el último reporte del LUSC arrojó que el segundo trimestre de 2022 (abril-junio) ha sido el más inseguro en 
                        los últimos tres años, pues se acumularon 14 mil 820 carpetas de investigación. <br>                      
                        En total, hay 41 mil 847 carpetas durante la administración del gobernador Mauricio Kuri González: 15 mil 226 más 
                        respecto a Francisco Domínguez Servién, con quien hubo 26 mil 621 en el mismo periodo (octubre 2015-junio 2016).                     
                        Asimismo, los delitos de ‘Falsedad’ (20), ‘hostigamiento sexual’ (8) y ‘otros delitos que atentan contra la libertad 
                        personal’ (22) alcanzaron su máximo histórico de carpetas abiertas durante junio.    <br>                    
                        Por su parte, los 10 delitos más frecuentes durante junio fueron ‘otros robos’ con 938 casos registrados; ‘violencia
                         familiar’ con 472; ‘Otros delitos del fuero común’ con 398; ‘lesiones dolosas con 372; y ‘amenazas’ con 337 ocasiones. 
                         El delito de ‘fraude’ se hizo presente en 319 ocasiones; ‘robo de vehículo automotor’ en 313; ‘robo a negocio’ en 226; 
                         ‘robo a casa habitación’ en 208; y daño a la propiedad en 145.</p>
                </div>
                <div class="SegundoPanelQ">

                </div>
            </div>
        </body>
    </html>