<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/QuintanaRoo.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Quintana Roo</h2>
                    <p>Casos de violencia familiar incrementan 6.36% en Quintana Roo</p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Violecia familiar</h3>
                    <p>Según las estadísticas del Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública, en su corte al 31 de
                         julio, en Quintana Roo se han denunciado ante la Fiscalía General del Estado (FGE) 4 mil 182 casos por violencia 
                         familiar; mientras que, en el mismo periodo del 2023, se registraron 3 mil 932 carpetas de investigación, es decir, 
                         hubo un incremento de 250 expedientes.
                        <br>
                        El municipio de Benito Juárez encabeza la estadística estatal; mientras que Solidaridad registra 903 denuncias; 
                        seguido por Othón P. Blanco, que tuvo 624 carpetas de investigación por violencia familiar.
                        <br>
                        Mientras que Felipe Carrillo Puerto reportó 147; Cozumel, 110; Tulum, 93; les siguen Bacalar y José María Morelos 
                        con 77 cada uno; Puerto Morelos e Isla Mujeres informaron 52 y 32 casos de violencia respectivamente.
                        <br>
                        En este sentido, según las autoridades, los principales factores de agresión en las parejas son los celos bajo los e
                        fectos del alcohol, problemas económicos y discusiones por diversos temas, que escalan de la agresión verbal a la 
                        física; muchos hechos terminan con lesiones graves que incluso las víctimas tienen que ser trasladadas a hospitales.
                     </p>
                </div>
            </div>
        </body>
    </html>