<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/SanLuis.css">
        </head>
        <body>
            <div class="ContenedorSLP">
                <div class="PrimerPanelSLP">
                    <h2>San Luis Potosí</h2>
                    <p> La ENDIREH 2021 estima que, en el estado de San Luis Potosí, 68.6% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 41.7% en los últimos 12 meses</p>
                    <p> La ENDIREH 2021 estima que, en el estado de San Luis Potosí, el ámbito comunitario es en el que las
                        mujeres de 15 años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida
                        (42.3%).</p>
                </div>
                <div class="SegundoPanelSLP">
                    <h3>Ambito Escolar</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de San Luis Potosí, 29.3% de la población de mujeres de 15 años
                            y más, ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 13.2%
                            vivió este tipo de violencia en los últimos 12 meses.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de San Luis Potosí, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito escolar, 45.2% señaló que la principal persona
                            agresora fue un compañero de la escuela.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de San Luis Potosí, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito escolar, 57.3% declaró que la escuela fue el lugar
                            principal de ocurrencia de violencia.</p>
                    <h3>Ambito Laboral</h3>
                        <p> La ENDIREH 2021 estima que, en el estado de San Luis Potosí, 25.4% de la población de mujeres de 15 años
                            y más ha vivido situaciones de violencia en el trabajo a lo largo de la vida. Mientras que 20.8% vivió este tipo
                            de violencia en los últimos 12 meses</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de San Luis Potosí, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito laboral, 42% señaló que la principal persona agresora
                            fue un(a) compañero(a) de trabajo.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de San Luis Potosí, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito laboral, 79.9% declaró que las instalaciones del
                            trabajo fue el lugar principal de ocurrencia de violencia.</p>
                    <h3>Ambito Comunitario</h3>
                        <p> La ENDIREH 2021 estima que, en el estado de San Luis Potosí, 42.3% de la población de mujeres de 15 años
                            y más, ha experimentado situaciones de violencia en la comunidad a lo largo de la vida. Mientras que 20.6%
                            vivió este tipo de violencia en los últimos 12 meses.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de San Luis Potosí, de las mujeres de 15
                            años y más que experimentaron violencia en el ámbito comunitario, 71.6% señaló que la principal persona
                            agresora fue un desconocido.</p>
                        <p>La ENDIREH 2021 estima que, en el estado de San Luis Potosí, de las mujeres de 15 años y más que
                            experimentaron violencia en el ámbito comunitario en los últimos 12 meses, 73.1% declaró que ocurrió en la
                            calle o parque.</p>
                </div>
            </div>
        </body>
    </html>