<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Sinaloa.css">
        </head>
        <body>
            <div class="ContenedorSin">
                <div class="PrimerPanelSin">
                    <h2>Sinaloa</h2>
                    <p>Los hechos de violencia contra la mujer ocurridos a lo largo de este 2020 demuestran que las instituciones responsables
                        de garantizar el derecho a la vida no solamente no están cumpliendo, sino que no han corregido lo que impide que
                        funcionen como las leyes lo mandan.</p>
                    <p>Como resultado de los diagnósticos del comportamiento delictivo que periódicamente elaboramos en la Coordinación 
                        General del Consejo Estatal de Seguridad Pública, podemos exponer el tamaño del problema que tiene la violencia 
                        en Sinaloa y, en este caso, de la que las mujeres son víctimas:</p>
                    <ol>
                        <li><b>Violencia familiar:</b> En el periodo enero-agosto 2020, <b>este delito ha incrementado 17%</b> en comparación con el
                             mismo 
                            periodo del 2019. Tan solo el mes pasado, este delito tuvo la cifra mensual más alta de la que se tenga registro: 
                            513 denuncias.</li>
                        <li><b>Violación:</b> En 2019 alcanzó la cifra más alta de la última década en Sinaloa y en 2020 el delito no se ha frenado. 
                            Con corte a agosto de 2020 tiene un aumento de 16%.</li>
                        <li><b>Feminicidio:</b> En cuanto a cifras, los asesinatos tipificados como feminicidio registran una disminución del 46% hasta 
                            el mes de agosto, con 16 casos asentados en los registros oficiales. Sin embargo, el total de mujeres asesinadas de 
                            enero a agosto, independientemente de su tipificación, es de al menos 26, según registros periodísticos.</li>
                    </ol>
                </div>
            </div>
        </body>
    </html>

    

