<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>
                Sonora
            </title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Sonora.css">
        </head>
        <body>
            <div class="ContenedorSon">
                <div class="PrimerPanelS">
                    <h2>Sonora</h2>
                    <p>La ENDIREH 2021 estima que, en el estado de Sonora, 71.6% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia a lo largo de
                        la vida y 44.5% en los últimos 12 meses del año 2021.</p>
                    <img id="img1Sono" src="/Img/ImgEstados/Sonora/SonoraEstad.png">
                    <p>La ENDIREH 2021 estima que, en el estado de Sonora, <b>34.7% de la población de mujeres de 15 años y más,
                        ha experimentado situaciones de violencia en la escuela</b> a lo largo de la vida. Mientras que 18.1% vivió este
                        tipo de violencia en los últimos 12 meses.</p>
                        <div class="img23Sono">
                            <img src="/Img/ImgEstados/Sonora/imgSono2.png">
                            <img src="/Img/ImgEstados/Sonora/imgSono3.png">
                        </div>
                </div>
                <div class="SegundoPanelS">
                    <h3>Acoso</h3>
                    <p>Sonora ocupa el primer lugar nacional en la tasa de reportes de casos de acoso Sexual al 911, 
                        <b>con una tasa de 16.2 casos por cada 100 mil habitantes</b> en el 2021.</p>
                    <br>
                    <p>De acuerdo a datos del Comité Ciudadano de Seguridad Pública Sonora (Ccsps), el 75.8% de las denuncias
                        por abuso y/o acoso sexual se concentran en Hermosillo con 217 casos, Cajeme con 58, Agua Prieta con 31, 
                        San Luis Río Colorado con 31 y Navojoa con 24. Además, durante el primer semestre de 2021, a nivel estatal solo 
                        el 0.4% de las situaciones de violencia sexual se denunciaron ante una institución de impartición de justicia.
                        Aunado a esto, el Ccsps informó que en los primeros seis meses del 2021 <b>86 mil 792 sonorenses enfrentaron
                        alguna situación de acoso personal o violencia sexual</b> en lugares públicos.</p>
                    <br>
                    <h3>Violencia de género</h3>
                    <p>La violencia de género y los delitos relacionados a esta van en crecimiento en el estado de Sonora, 
                        donde, en el 2021, <b>se duplicaron los delitos de feminicidio en comparación al 2020</b>, lo mismo que delitos 
                        como el acoso y hostigamiento Sexual, la violación y violencia familiar (reportó el Observatorio Sonora por 
                        la Seguridad.)
                        <br>
                        Según su informe basado en las carpetas de investigación abiertas por el Ministerio Público y los reportes al 
                        911, de enero a junio de 2021 se registraron 22 feminicidios, cuando en el mismo periodo del 2020 fueron 11, 
                        es decir un incremento del 100%.</p>
                        <br>
                        <p>En cuanto a las carpetas de investigación abiertas por violencia familiar, de enero a junio del 2020 fueron 
                            <b>dos mil 289 casos</b>, mientras que en 2021 fueron cuatro mil 184.</p>
                </div>
            </div>
        </body>
    </html>