<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Tabasco</title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Tabasco.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Tabasco</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Acoso sexual y laboral</h3>
                    <p>De julio del 2021 a junio del 2022, el Instituto Estatal de la Mujeres atendió a 5 mil 222 mujeres que sufrieron 
                        violencia en Tabasco. De estas, menos de la mitad se concretaron en denuncias ante el Ministerio Publico. Asimismo,
                         de enero a julio del presente año, el número de mujeres maltratadas aumentó de 408 a 566 casos.
                        <br>
                        Dichas cifras son avaladas por el Prontuario Estadístico Digital de la Fiscalía General del Estado, en donde consta 
                        que el delito de violencia familiar casi se duplicó en los primeros siete meses del año, al pasar de 481 casos en 
                        enero, a 776 en julio.</p>
                    <p>De acuerdo a los datos del Instituto Estatal de las Mujeres, el IEM, a cargo de Nelly del Carmen Vargas Pérez, 
                        en un año atendió a 5 mil 222 mujeres que sufrieron algún tipo de violencia. En promedio, 20 mujeres violentadas 
                        se han acercado a la dependencia en busca de asesoría.</p>
                    <h3>HOSTIGAMIENTO LABORAL CON MAYOR INCIDENCIA</h3>
                    <p>Los datos publicados en el portal de transparencia del instituto muestran que el número de mujeres que asisten 
                        al organismo público se ha incrementado durante el primer semestre del año 2022. Después de que, en el segundo
                         semestre del año 2021, se llegaron a presentar 491 mujeres maltratadas en el mes de octubre a buscar ayuda, 
                         para diciembre se presentaron 207 mujeres violentadas.</p>
                    <p>Mientras que para 2022, los casos llegaron a 408 en enero y se han incrementado hasta llegar a registrar 565 y 566 en 
                        mayo y junio. El mes de junio es cuando más mujeres violentadas han acudido al IEM a buscar ayuda. En ese sexto mes de
                         este año acudieron en promedio 27 mujeres en busca de ayuda por la situación de violencia por la que está pasando.
                        <br>
                        Los datos publicados por el IEM muestran que mientras 5 mil 222 mujeres han acudido al organismo público para 
                        recibir apoyo, 2 mil 552 de ellas han ido más allá y han presentado denuncia contra su violentador. Es decir, 
                        menos de la mitad, casi un 49 por ciento de las mujeres que sufren violencia han solicitado al IEM que además, 
                        las apoye a presentar denuncias por la situación en la que viven.</p>
                        
                    <h3>También los agresores acuden al IEM</h3>
                        <p>No solo las mujeres agredidas son las que acuden al Instituto. De julio del 2021 a junio del 2022, el organismo 
                            estatal reporta la asistencia de mil 417 hombres que ejercen violencia contra las mujeres en busca de apoyo, y 
                            a quienes el Instituto les ofreció ayuda psicológica con talleres de masculinidades, conferencias y pláticas.</p>
                </div>
            </div>
        </body>
        </body>
    </html>