<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Tamaulipas.css">
        </head>
        <body>
            <div class="ContenedorTam">
                <div class="PrimerPanelTam">
                    <h2>Tamaulipas</h2>
                    <p>La ENDIREH 2021 estima que, en el estado de Tamaulipas, 61.7% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 34.2% en el 2021</p>
                    <img id="img1Sono" src="/Img/ImgEstados/Tamaulipas/img1Tam.png">
                    <p>La ENDIREH 2021 estima que, en el estado de Tamaulipas, 24.7% de la población de mujeres de 15 años y
                        más, ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 18.6% vivió
                        este tipo de violencia en el 2021</p>
                        <div class="img23Sono">
                            <img src="/Img/ImgEstados/Tamaulipas/img2Tam.png">
                        </div>
                </div>
                <div class="SegundoPanelTam">
                    <h3>Acoso</h3>
                    <p>Acoso sexual: La Encuesta Nacional de Seguridad Pública Urbana (ENSU) 2021 indica que Tamaulipas es uno de los estados donde la 
                        población enfrenta menos situaciones de acoso y violencia sexual en lugares públicos. Reynosa, por ejemplo, es la segunda ciudad 
                        de México con menos casos reportados</p><br>
                    <p>Acoso laboral: En la Administración Pública Federal, se han registrado numerosos casos de hostigamiento y acoso sexual, con las
                         mujeres siendo las principales víctimas</p>
                </div>
            </div>
        </body>
    </html>