<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
        </head>
        <link rel="stylesheet" href="/CSS/estidosEstados/Veracruz.css">
        <body>
            <div class="ContenedorV">
                <div class="PrimerPanelV">
                    <h2>Veracruz</h2>
                    <p>La ENDIREH 2021 estima que, en el estado de Veracruz, 68.2% de las mujeres de 15 años o más,
                        experimentaron algún tipo de violencia: Psicológica, Física, Sexual, Económica o Patrimoniala lo largo de
                        la vida y 41.6% en los últimos 12 meses.</p>
                    <p>La ENDIREH 2021 estima que, en el estado de Veracruz, el ámbito pareja es en el que las mujeres de 15
                        años y más experimentaron con mayor frecuencia algún tipo de violencia a lo largo de la vida (42.7%).</p>
                </div>
                <div class="SegundoPanelV">
                    <h3>Ambito escolar</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de Veracruz, 32.8% de la población de mujeres de 15 años y más,
                            ha experimentado situaciones de violencia en la escuela a lo largo de la vida. Mientras que 24.1% vivió este
                            tipo de violencia en los últimos 12 meses.</p>
                        <p> La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Veracruz, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito escolar, 45.2% señaló que la principal persona agresora fue
                            un compañero de la escuela.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Veracruz, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito escolar, 64.5% declaró que la escuela fue el lugar principal de
                            ocurrencia de violencia.</p>
                    <h3>Ambito Laboral</h3>
                        <p>La ENDIREH 2021 estima que, en el estado de Veracruz, 24.9% de la población de mujeres de 15 años y más
                            ha vivido situaciones de violencia en el trabajo a lo largo de la vida. Mientras que 18.1% vivió este tipo de
                            violencia en los últimos 12 meses.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Veracruz, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito laboral, 33.9% señaló que la principal persona agresora fue
                            un(a) compañero(a) de trabajo.</p>
                        <p>La ENDIREH 2021 estima que, en los últimos 12 meses, en el estado de Veracruz, de las mujeres de 15 años y
                            más que experimentaron violencia en el ámbito laboral, 74.5% declaró que las instalaciones del trabajo fue
                            el lugar principal de ocurrencia de violencia.</p>
                    <h3>Acoso</h3>
                        <p>Desde 2015 a la fecha Veracruz mantiene una tendencia al alza en delitos que atentan contra la libertad y 
                            la seguridad sexual, con un acumulado histórico de 17 mil 046 carpetas de investigación iniciadas hasta el
                             pasado mes de enero. <br>
                            Con base en datos obtenidos del Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública (SESNSP), 
                            la plataforma de incidencia delictiva de la organización MUCD (México Unido contra la Delincuencia) reporta que, 
                            durante el año 2022, la entidad acumuló 3 mil 373 carpetas de investigación por delitos contra la libertad y la 
                            seguridad sexual, mientras que en 2015 se registraron 245 delitos.</p>
                        <p>En los últimos tres años, se han registrado en Veracruz 255 feminicidios, más de 3 mil delitos sexuales y se abrieron 
                            36 mil carpetas de investigación por violencia familiar y de género, según las cifras del secretariado ejecutivo de 
                            seguridad pública. <br>
                            El año más violento fue 2019 cuando se registraron 104 feminicidios, en 2020 fueron 76 y en 2021 fueron 69. En lo 
                            que va del 2022, según las cifras del secretariado fueron seis feminicidios. <br>
                            La cifra contrasta con las del Observatorio Universitario de Violencias contra las Mujeres de la Universidad 
                            Veracruzana quien registró entre enero y febrero de este año 20 feminicidios. <br>                          
                            Veracruz sigue en los primeros lugares de feminicidios en el país y se ubica a los municipios de Coatzacoalcos,
                             Cosamaloapan, Cosoleacaque, San Andrés Tuxtla, San Juan Evangelista y Xalapa,entre los 67 con mayor incidencia 
                             de violencia contra la mujer.<br>
                            En una revisión de las cifras del 2019 al 2021 de acuerdo con los delitos reportados por la Fiscalía General 
                            de Veracruz al sistema nacional de seguridad, se registraron 914 delitos de violación simple y equiparada, 
                            1546 delitos de abuso sexual y 740 de hostigamiento sexual.<br>
                            Las cifras también revelan que se han abierto 80 carpetas de investigación por el delito de aborto.
                            De acuerdo a la estadística, se registraron 36,416 carpetas de investigación por violencia familiar y 3,948 por 
                            violencia de género.</p>
                </div>

            </div>
        </body>
    </html>