<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title></title>
            <link rel="stylesheet" href="/CSS/estidosEstados/Yucatan.css">
        </head>
        <body>
            <div class="ContenedorH">
                <div class="PrimerPanelH">
                    <h2>Yucatan</h2>
                    <p></p>
                </div>
                <div class="SegundoPanelH">
                    <h3>Acoso sexual y laboral</h3>
                    <p>Aumenta la violencia de género en Yucatán; más de 7 mil mujeres fueron víctimas este 2023</p>
                    <p>De acuerdo con la última encuesta Nacional sobre la Dinámica de las Relaciones en los Hogares (Endireh), 
                        se destaca que el 21.8 por ciento de las ciudadanas en Yucatán han experimentado violencia emocional en sus
                         hogares; de igual manera, reveló que la violencia económica afecta al 16.8 por ciento, la física al 8.7 por 
                         ciento y la sexual al 5.6 porcentual de las mujeres en la región.</p>
                    <h3>HOSTIGAMIENTO LABORAL CON MAYOR INCIDENCIA</h3>
                    <p>Asimismo, mostró que el 71.4 por ciento de las yucatecas mayores de 15 años han sufrido algún tipo de maltrato a
                         lo largo de sus vidas; por su parte, la psicóloga clínica, Marissa Chablé Medina, indicó que los resultados 
                         ponen en manifiesto la urgente necesidad de abordar y combatir la violencia de género en la Entidad.
                        <br>
                        Por otro lado, de acuerdo con el Secretariado Ejecutivo del Sistema Nacional de Seguridad Pública (SNSP) de 
                        la Secretaría de Gobernación (Segob), indicó que 7 mil 663 mujeres realizaron llamadas de emergencia al 911 
                        hasta el último corte realizado en el mes de octubre.
                        <br>
                        De las cuales, mil 976 yucatecas han realizado llamadas de emergencia relacionadas con casos de violencia al 911, 
                        con una incidencia de 166.7 por cada 100 mil mujeres.       
                        </p>
                    <p>Asimismo, el informe indicó que en el desglose de dichos reportes, 150 de estas fueron por temas relacionados con 
                        el abuso sexual, es decir, que 6.43 mujeres por cada 100 mil solicitaron ayuda por dicha causa, mientras que 77 de 
                        las llamadas a emergencia fueron relacionados con incidentes de acoso u hostigamiento sexual, con una incidencia de 
                        3.30, mientras que 47 mujeres realizaron llamadas por temas de violación, con una tasa de 2.02.
                        <br>
                        De igual manera, informó que, 2 mil 808 llamadas fueron realizadas pidiendo ayuda por violencia con sus parejas, es
                         decir, 94.6 de cada 100 mil mujeres y 2 mil 605 lo hicieron por temas de violencia familiar.
                        <br>
                        Por su parte, Chablé Medina comentó con respecto a la encuesta que, en un intento por abordar la complejidad de la 
                        violencia contra las mujeres, “es esencial comprender sus diversas manifestaciones. Desde la violencia física hasta 
                        la psicológica, firmando que, cada forma deja cicatrices invisibles”.</p>
                </div>
            </div>
        </body>
    </html>